<p id="notice"><%= notice %></p>
<%= link_to 'New Workshop', new_workshop_path, class:"button btn-orange my-3" %>
<div class='box outerdiv'>
<h1 class="has-text-centered"><strong>Workshops</strong></h1>

<table class="table">
  <thead>
    <tr>
      <th>Company name</th>
      <th>Date</th>
      <th>Season</th>
      <th>Farm name</th>
      <th>Item</th>
      <th>Quantity</th>
      <th>Pro number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workshops.each do |workshop| %>
      <tr>
        <td><%= workshop.company_name %></td>
        <td><%= workshop.date %></td>
        <td><%= workshop.season %></td>
        <td><%= workshop.farm_name %></td>
        <td><%= workshop.item %></td>
        <td><%= workshop.quantity %></td>
        <td><%= workshop.pro_number %></td>
        <td><%= link_to 'Show', workshop %></td>
        <td><%= link_to 'Edit', edit_workshop_path(workshop) %></td>
        <td><%= link_to 'Destroy', workshop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>

