<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @workshop.company_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @workshop.date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @workshop.season %>
</p>

<p>
  <strong>Farm name:</strong>
  <%= @workshop.farm_name %>
</p>

<p>
  <strong>Item:</strong>
  <%= @workshop.item %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @workshop.quantity %>
</p>

<%= link_to 'Edit', edit_workshop_path(@workshop) %> |
<%= link_to 'Back', workshops_path %>
