<%= form_with(model: cereal_sale, local: true) do |form| %>
  <% if cereal_sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cereal_sale.errors.count, "error") %> prohibited this cereal_sale from being saved:</h2>

      <ul>
        <% cereal_sale.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="control">
      <%= form.text_field :company_name, value:current_user.company_name, type: :hidden %>
    </div>
  </div>

  <div class="field">
    <%= form.label :date, class:"label" %>
    <div class="control">
      <%= form.date_select :date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :season, value: season_active, type: :hidden %> 
  </div>

  <div class="field">
    <div class="control">
      <%= form.text_field :farm_name, value:current_user.farm_name, type: :hidden %>
    </div>
  </div>

  <div class="field">
    <%= form.label :grower_name, class:"label" %>
    <div class="control">
      <%= form.text_field :grower_name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :crop, class:"label" %>
    <div class="control">
      <%= form.text_field :crop, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :truck_number, class:"label" %>
    <div class="control">
      <%= form.text_field :truck_number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :trailer_number, class:"label" %>
    <div class="control">
      <%= form.text_field :trailer_number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :test_density, class:"label" %>
    <div class="control">
      <%= form.text_field :test_density, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :external_matter, class:"label" %>
    <div class="control">
      <%= form.text_field :external_matter, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :gross_mass, class:"label" %>
    <div class="control">
      <%= form.text_field :gross_mass, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :tare, class:"label" %>
    <div class="control">
      <%= form.text_field :tare, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :net_mass, class:"label" %>
    <div class="control">
      <%= form.text_field :net_mass, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :price_per_tonne, class:"label" %>
    <div class="control">
      <%= form.text_field :price_per_tonne, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :quantity, class:"label" %>
    <div class="control">
      <%= form.text_field :quantity, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :amount_paid , class:"label"%>
    <div class="control">
      <%= form.text_field :amount_paid, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :pro_number, class:"label" %>
    <div class="control">
      <%= form.text_field :pro_number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class:"button btn-orange" %>
  </div>
<% end %>
