<p id="notice"><%= notice %></p>
<%= link_to 'New Cereal Sale', new_cereal_sale_path, class:"button is-success my-3" %>
<h1 class="has-background-white">Cereal Sales</h1>

<table class="table">
  <thead>
    <tr>
      <th>Company name</th>
      <th>Date</th>
      <th>Season</th>
      <th>Farm name</th>
      <th>Grower name</th>
      <th>Crop</th>
      <th>Truck number</th>
      <th>Trailer number</th>
      <th>Test density</th>
      <th>External matter</th>
      <th>Gross mass</th>
      <th>Tare</th>
      <th>Net mass</th>
      <th>Price per tonne</th>
      <th>Quantity</th>
      <th>Amount paid</th>
      <th>Pro number</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cereal_sales.each do |cereal_sale| %>
      <tr>
        <td><%= cereal_sale.Company_Name %></td>
        <td><%= cereal_sale.Date %></td>
        <td><%= cereal_sale.Season %></td>
        <td><%= cereal_sale.Farm_Name %></td>
        <td><%= cereal_sale.Grower_Name %></td>
        <td><%= cereal_sale.crop %></td>
        <td><%= cereal_sale.Truck_Number %></td>
        <td><%= cereal_sale.Trailer_Number %></td>
        <td><%= cereal_sale.Test_Density %></td>
        <td><%= cereal_sale.External_Matter %></td>
        <td><%= cereal_sale.Gross_Mass %></td>
        <td><%= cereal_sale.Tare %></td>
        <td><%= cereal_sale.Net_Mass %></td>
        <td><%= cereal_sale.Price_Per_Tonne %></td>
        <td><%= cereal_sale.Quantity %></td>
        <td><%= cereal_sale.Amount_Paid %></td>
        <td><%= cereal_sale.Pro_Number %></td>
        <td><%= cereal_sale.user_id %></td>
        <td><%= link_to 'Show', cereal_sale %></td>
        <td><%= link_to 'Edit', edit_cereal_sale_path(cereal_sale) %></td>
        <td><%= link_to 'Destroy', cereal_sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


