<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @cereal_sale.Company_Name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @cereal_sale.Date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @cereal_sale.Season %>
</p>

<p>
  <strong>Farm name:</strong>
  <%= @cereal_sale.Farm_Name %>
</p>

<p>
  <strong>Grower name:</strong>
  <%= @cereal_sale.Grower_Name %>
</p>

<p>
  <strong>Truck number:</strong>
  <%= @cereal_sale.Truck_Number %>
</p>

<p>
  <strong>Trailer number:</strong>
  <%= @cereal_sale.Trailer_Number %>
</p>

<p>
  <strong>Test density:</strong>
  <%= @cereal_sale.Test_Density %>
</p>

<p>
  <strong>External matter:</strong>
  <%= @cereal_sale.External_Matter %>
</p>

<p>
  <strong>Gross mass:</strong>
  <%= @cereal_sale.Gross_Mass %>
</p>

<p>
  <strong>Tare:</strong>
  <%= @cereal_sale.Tare %>
</p>

<p>
  <strong>Net mass:</strong>
  <%= @cereal_sale.Net_Mass %>
</p>

<p>
  <strong>Price per tonne:</strong>
  <%= @cereal_sale.Price_Per_Tonne %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @cereal_sale.Quantity %>
</p>

<p>
  <strong>Amount paid:</strong>
  <%= @cereal_sale.Amount_Paid %>
</p>

<p>
  <strong>Pro number:</strong>
  <%= @cereal_sale.Pro_Number %>
</p>

<p>
  <strong>User:</strong>
  <%= @cereal_sale.user_id %>
</p>

<%= link_to 'Edit', edit_cereal_sale_path(@cereal_sale) %> |
<%= link_to 'Back', cereal_sales_path %>
