<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @cereal_sale.company_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @cereal_sale.date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @cereal_sale.season %>
</p>

<p>
  <strong>Farm name:</strong>
  <%= @cereal_sale.farm_name %>
</p>

<p>
  <strong>Grower name:</strong>
  <%= @cereal_sale.grower_name %>
</p>

<p>
  <strong>Truck number:</strong>
  <%= @cereal_sale.truck_number %>
</p>

<p>
  <strong>Trailer number:</strong>
  <%= @cereal_sale.trailer_number %>
</p>

<p>
  <strong>Test density:</strong>
  <%= @cereal_sale.test_density %>
</p>

<p>
  <strong>External matter:</strong>
  <%= @cereal_sale.external_matter %>
</p>

<p>
  <strong>Gross mass:</strong>
  <%= @cereal_sale.gross_mass %>
</p>

<p>
  <strong>Tare:</strong>
  <%= @cereal_sale.tare %>
</p>

<p>
  <strong>Net mass:</strong>
  <%= @cereal_sale.net_mass %>
</p>

<p>
  <strong>Price per tonne:</strong>
  <%= @cereal_sale.price_per_tonne %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @cereal_sale.quantity %>
</p>

<p>
  <strong>Amount paid:</strong>
  <%= @cereal_sale.amount_paid %>
</p>

<%= link_to 'Edit', edit_cereal_sale_path(@cereal_sale) %> |
<%= link_to 'Back', cereal_sales_path %>
