<%= form_with(model: curing, local: true) do |form| %>
  <% if curing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(curing.errors.count, "error") %> prohibited this curing from being saved:</h2>

      <ul>
        <% curing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_name, class:"label" %>
    <div class="control">
      <%= form.select :company_name, [current_user.company_name], class:"my-3" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :date, class:"label" %>
    <div class="control">
      <%= form.date_select :date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.text_field :season, value: season_active, type: :hidden %>
    </div>
  </div>

  <div class="field">
    <%= form.label :farm_name, class:"label" %>
    <div class="control">
      <%= form.text_field :farm_name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :facility, class:"label" %>
    <div class="control">
      <%= form.text_field :facility, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :time, class:"label" %>
    <div class="control">
      <%= form.datetime_select :time, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :day, class:"label" %>
    <div class="control">
      <%= form.date_select :day, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :temperature, class:"label" %>
    <div class="control">
      <%= form.text_field :temperature, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :pro_number, class:"label" %>
    <div class="control">
      <%= form.text_field :pro_number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-success" %>
  </div>
<% end %>
