<p id="notice"><%= notice %></p>
<%= link_to 'New Curing', new_curing_path, class:"button is-success my-3" %>
<div class='box'>
<h1 class="has-background-white">Curings</h1>

<table class="table">
  <thead>
    <tr>
      <th>Company name</th>
      <th>Date</th>
      <th>Season</th>
      <th>Farm name</th>
      <th>Facility</th>
      <th>Time</th>
      <th>Day</th>
      <th>Temperature</th>
      <th>Pro number</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @curings.each do |curing| %>
      <tr>
        <td><%= curing.company_name %></td>
        <td><%= curing.date %></td>
        <td><%= curing.season %></td>
        <td><%= curing.farm_name %></td>
        <td><%= curing.facility %></td>
        <td><%= curing.time %></td>
        <td><%= curing.day %></td>
        <td><%= curing.temperature %></td>
        <td><%= curing.pro_number %></td>
        <td><%= curing.user_id %></td>
        <td><%= link_to 'Show', curing %></td>
        <td><%= link_to 'Edit', edit_curing_path(curing) %></td>
        <td><%= link_to 'Destroy', curing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>

