<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @curing.company_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @curing.date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @curing.season %>
</p>

<p>
  <strong>Farm name:</strong>
  <%= @curing.farm_name %>
</p>

<p>
  <strong>Facility:</strong>
  <%= @curing.facility %>
</p>

<p>
  <strong>Time:</strong>
  <%= @curing.time %>
</p>

<p>
  <strong>Day:</strong>
  <%= @curing.day %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @curing.temperature %>
</p>

<p>
  <strong>Pro number:</strong>
  <%= @curing.pro_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @curing.user_id %>
</p>

<%= link_to 'Edit', edit_curing_path(@curing) %> |
<%= link_to 'Back', curings_path %>
