<p id="notice"><%= notice %></p>
<%= link_to 'New Calender', new_calender_path, class:"button is-success my-3" %>
<h1 class="has-background-white">Calenders</h1>

<div class="table-container">

<table class="table is-bordered is-striped">
  <thead>
    <tr>
      <th>Company name</th>
      <th>Date</th>
      <th>Season</th>
      <th>Farm name</th>
      <th>Month</th>
      <th>Activity</th>
      <th>Pro number</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calenders.each do |calender| %>
      <tr>
        <td><%= calender.Company_Name %></td>
        <td><%= calender.Date %></td>
        <td><%= calender.Season %></td>
        <td><%= calender.Farm_Name %></td>
        <td><%= calender.Month %></td>
        <td><%= calender.Activity %></td>
        <td><%= calender.Pro_Number %></td>
        <td><%= calender.user_id %></td>
        <td><%= link_to 'Show', calender %></td>
        <td><%= link_to 'Edit', edit_calender_path(calender) %></td>
        <td><%= link_to 'Destroy', calender, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


