<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @calender.company_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @calender.date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @calender.season %>
</p>

<p>
  <strong>Farm name:</strong>
  <%= @calender.farm_name %>
</p>

<p>
  <strong>Month:</strong>
  <%= @calender.month %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @calender.activity %>
</p>

<p>
  <strong>Pro number:</strong>
  <%= @calender.pro_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @calender.user_id %>
</p>

<%= link_to 'Edit', edit_calender_path(@calender) %> |
<%= link_to 'Back', calenders_path %>
