<%= form_with(model: client_payment, local: true) do |form| %>
  <% if client_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client_payment.errors.count, "error") %> prohibited this client_payment from being saved:</h2>

      <ul>
        <% client_payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_name, class:"label" %>
    <div class="control">
    <%= form.collection_select :company_name, User.order(:Company_Name), :Company_Name, :Company_Name, class:"my-3" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :category, class:"label" %>
    <div class="control">
      <%= form.text_field :category, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :receipt_number, class:"label" %>
    <div class="control">
      <%= form.text_field :receipt_number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :amount_paid, class:"label" %>
    <div class="control">
      <%= form.text_field :amount_paid, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :balance, class:"label" %>
    <div class="control">
      <%= form.text_field :balance, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :valid_from, class:"label" %>
      <div class="control">
        <%= form.date_select :valid_from, class:"input" %>
      </div>
  </div>

  <div class="field">
    <%= form.label :valid_to, class:"label" %>
      <div class="control">
        <%= form.date_select :valid_to, class:"input" %>
      </div>
  </div>

  <div class="field">
    <%= form.label :pro_number, class:"label" %>
    <div class="control">
      <%= form.text_field :pro_number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-success" %>
  </div>
<% end %>
