<%= form_with(model: client_payment, local: true) do |form| %>
  <% if client_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client_payment.errors.count, "error") %> prohibited this client_payment from being saved:</h2>

      <ul>
        <% client_payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Company_Name %>
    <%= form.text_field :Company_Name %>
  </div>

  <div class="field">
    <%= form.label :Category %>
    <%= form.text_field :Category %>
  </div>

  <div class="field">
    <%= form.label :Receipt_Number %>
    <%= form.text_field :Receipt_Number %>
  </div>

  <div class="field">
    <%= form.label :Amount_Paid %>
    <%= form.text_field :Amount_Paid %>
  </div>

  <div class="field">
    <%= form.label :Balance %>
    <%= form.text_field :Balance %>
  </div>

  <div class="field">
    <%= form.label :Date %>
    <%= form.date_select :Date %>
  </div>

  <div class="field">
    <%= form.label :Pro_Number %>
    <%= form.text_field :Pro_Number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
