<p id="notice"><%= notice %></p>
<%= link_to 'New Client Payment', new_client_payment_path, class:"button is-info" %>

<div class="columns">
  <div class="column">
    <% @client_payments.each do |client_payment| %>
      <div class="card my-5">
        <div class="columns card-header">
            <div class="column is-9">
              <h1 class="navbar-item">
                Showing payments for
                <%= client_payment.company_name %>
                </h1>
            </div>
            <div class="column is-3">
              <nav class="navbar">
              <div class="navbar-item">
                    <div class="navbar-item has-dropdown is-hoverable">
                      <a class="navbar-link">
                        Actions
                      </a>

                      <div class="navbar-dropdown">
                        <%= link_to 'Show', client_payment, class:"navbar-item" %>
                        <%= link_to 'Edit', edit_client_payment_path(client_payment), class:"navbar-item" %>
                        <%= link_to 'Destroy', client_payment, method: :delete, data: { confirm: 'Are you sure?' }, class:"navbar-item has-background-danger" %>
                      </div>
                    </div>
                  </div>
              </nav>
            </div>
        </div>
        <div class="card-content">
          <div class="content">
            <div><strong>Category:</strong> <%= client_payment.category %></div>
            <div><strong>Receipt_Number:</strong> <%= client_payment.receipt_number %></div>
            <div><strong>Amount_Paid:</strong> <%= client_payment.amount_paid %></div>
            <div><strong>Balance:</strong> <%= client_payment.balance %></div>
            <div><strong>Valid From:</strong> <%= client_payment.valid_from %></div>
            <div><strong>Valid To:</strong> <%= client_payment.valid_to %></div>
            <div><strong>Pro_Number:</strong> <%= client_payment.pro_number %></div>
          </div>
        </div>
        <footer class="card-footer">
          <span class="card-footer-item"> Created: <i> <strong><%= time_ago_in_words(client_payment.created_at) %></strong>  ago by <strong><%= client_payment.user.email %></strong></i> </span>
        </footer>
      </div>
    <% end %>
  </div>
</div>
