<p id="notice"><%= notice %></p>

<p>
  <strong>Company-name:</strong>
  <%= @client_payment.company_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @client_payment.category %>
</p>

<p>
  <strong>Receipt-number:</strong>
  <%= @client_payment.receipt_number %>
</p>

<p>
  <strong>Amount-paid:</strong>
  <%= @client_payment.amount_paid %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @client_payment.balance %>
</p>

<p>
  <strong>Valid From:</strong>
  <%= @client_payment.valid_from %>
</p>

<p>
  <strong>Valid To:</strong>
  <%= @client_payment.valid_to %>
</p>

<%= link_to 'Edit', edit_client_payment_path(@client_payment) %> |
<%= link_to 'Back', client_payments_path %>
