<%= form_with(model: cash_requisition, local: true) do |form| %>
  <% if cash_requisition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cash_requisition.errors.count, "error") %> prohibited this cash_requisition from being saved:</h2>

      <ul>
        <% cash_requisition.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Company_Name, class:"label" %>
    <div class="control">
      <%= form.select :Company_Name, [current_user.Company_Name], class:"my-3" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Date, class:"label" %>
    <div class="control">
      <%= form.date_select :Date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Season, class:"label" %>
    <div class="control">
      <%= form.text_field :Season, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Farm_Name, class:"label" %>
    <div class="control">
      <%= form.text_field :Farm_Name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Employee_Name, class:"label" %>
    <div class="control">
      <%= form.text_field :Employee_Name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Amount_Requested, class:"label" %>
    <div class="control">
      <%= form.text_field :Amount_Requested, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Amount_Issued, class:"label" %>
    <div class="control">
      <%= form.text_field :Amount_Issued, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Pay_From, class:"label" %>
    <div class="control">
      <%= form.date_select :Pay_From, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Pay_To, class:"label" %>
    <div class="control">
      <%= form.date_select :Pay_To, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Pro_Number, class:"label" %>
    <div class="control">
      <%= form.text_field :Pro_Number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-success" %>
  </div>
<% end %>
