<%= form_with(model: cash_requisition, local: true) do |form| %>
  <% if cash_requisition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cash_requisition.errors.count, "error") %> prohibited this cash_requisition from being saved:</h2>

      <ul>
        <% cash_requisition.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_name, class:"label" %>
    <div class="control">
      <%= form.select :company_name, [current_user.company_name], class:"my-3" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :date, class:"label" %>
    <div class="control">
      <%= form.date_select :date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.text_field :season, value: season_active, type: :hidden %>
    </div>
  </div>

  <div class="field">
    <%= form.label :farm_name, class:"label" %>
    <div class="control">
      <%= form.text_field :farm_name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :employee_name, class:"label" %>
    <div class="control">
      <%= form.text_field :employee_name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :amount_requested, class:"label" %>
    <div class="control">
      <%= form.text_field :amount_requested, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :amount_issued, class:"label" %>
    <div class="control">
      <%= form.text_field :amount_issued, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :pay_from, class:"label" %>
    <div class="control">
      <%= form.date_select :pay_from, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :pay_to, class:"label" %>
    <div class="control">
      <%= form.date_select :pay_to, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :pro_number, class:"label" %>
    <div class="control">
      <%= form.text_field :pro_number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"button btn-orange" %>
  </div>
<% end %>
