<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @cash_requisition.company_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @cash_requisition.date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @cash_requisition.season %>
</p>

<p>
  <strong>Farm name:</strong>
  <%= @cash_requisition.farm_name %>
</p>

<p>
  <strong>Employee name:</strong>
  <%= @cash_requisition.employee_name %>
</p>

<p>
  <strong>Amount requested:</strong>
  <%= @cash_requisition.amount_requested %>
</p>

<p>
  <strong>Amount issued:</strong>
  <%= @cash_requisition.amount_issued %>
</p>

<p>
  <strong>Pay from:</strong>
  <%= @cash_requisition.pay_from %>
</p>

<p>
  <strong>Pay to:</strong>
  <%= @cash_requisition.pay_to %>
</p>

<%= link_to 'Edit', edit_cash_requisition_path(@cash_requisition) %> |
<%= link_to 'Back', cash_requisitions_path %>
