<%= form_with(model: wage, local: true) do |form| %>
  <% if wage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wage.errors.count, "error") %> prohibited this wage from being saved:</h2>

      <ul>
        <% wage.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_name, class:"label" %>
    <div class="control">
      <%= form.select :company_name, [current_user.company_name], class:"my-3" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :month, class:"label" %>
    <div class="control">
      <%= form.text_field :month, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :season, class:"label" %>
    <div class="control">
      <%= form.text_field :season, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :empoyee_number, class:"label" %>
    <div class="control">
      <%= form.text_field :empoyee_number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :farm_name, class:"label" %>
    <div class="control">
      <%= form.text_field :farm_name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :days_worked, class:"label" %>
    <div class="control">
      <%= form.text_field :days_worked, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :employee_name, class:"label" %>
    <div class="control">
      <%= form.text_field :employee_name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :gross, class:"label" %>
    <div class="control">
      <%= form.text_field :gross, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :payee, class:"label" %>
    <div class="control">
      <%= form.text_field :payee, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :allowance, class:"label" %>
    <div class="control">
      <%= form.text_field :allowance, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :nssa, class:"label" %>
    <div class="control">
      <%= form.text_field :nssa, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :nec, class:"label" %>
    <div class="control">
      <%= form.text_field :nec, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :cash_requests, class:"label" %>
    <div class="control">
      <%= form.text_field :cash_requests, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :other_deductions, class:"label" %>
    <div class="control">
      <%= form.text_field :other_deductions, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :net, class:"label" %>
    <div class="control">
      <%= form.text_field :net, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"button btn-orange" %>
  </div>
<% end %>
