<%= form_with(model: wage, local: true) do |form| %>
  <% if wage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wage.errors.count, "error") %> prohibited this wage from being saved:</h2>

      <ul>
        <% wage.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Company_Name, class:"label" %>
    <div class="control">
      <%= form.select :Company_Name, [current_user.Company_Name], class:"my-3" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Date, class:"label" %>
    <div class="control">
      <%= form.date_select :Date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Season, class:"label" %>
    <div class="control">
      <%= form.text_field :Season, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Farm_Name, class:"label" %>
    <div class="control">
      <%= form.text_field :Farm_Name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Total_Amount, class:"label" %>
    <div class="control">
      <%= form.text_field :Total_Amount, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Pro_Number, class:"label" %>
    <div class="control">
      <%= form.text_field :Pro_Number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-success" %>
  </div>
<% end %>
