<p id="notice"><%= notice %></p>
<%= link_to 'New Wage', new_wage_path, class:"button is-success my-3" %>
<h1 class="has-background-white">Wages</h1>

<table class="table">
  <thead>
    <tr>
      <th>Company name</th>
      <th>Farm Name</th>
      <th>Employee Name</th>
      <th>Employee Number</th>
      <th>Daily Rate</th>
      <th>Worker Status</th>
      <th>Pro number</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wages.each do |wage| %>
      <tr>
        <td><%= wage.Company_Name %></td>
        <td><%= wage.Farm_Name %></td>
        <td><%= wage.employee_name %></td>
        <td><%= wage.empoyee_number %></td>
        <td><%= wage.daily_rate %></td>
        <td><%= wage.worker_status %></td>
        <td><%= wage.Pro_Number %></td>
        <td><%= wage.user_id %></td>
        <td><%= link_to 'Show', wage %></td>
        <td><%= link_to 'Edit', edit_wage_path(wage) %></td>
        <td><%= link_to 'Destroy', wage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


