<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @wage.Company_Name %>
</p>

<p>
  <strong>Farm_Name:</strong>
  <%= @wage.Farm_Name %>
</p>

<p>
  <strong>employee_name:</strong>
  <%= @wage.employee_name %>
</p>

<p>
  <strong>empoyee_number:</strong>
  <%= @wage.empoyee_number %>
</p>

<p>
  <strong>daily_rate:</strong>
  <%= @wage.daily_rate %>
</p>

<p>
  <strong>worker_status:</strong>
  <%= @wage.worker_status %>
</p>

<p>
  <strong>Pro number:</strong>
  <%= @wage.Pro_Number %>
</p>

<p>
  <strong>User:</strong>
  <%= @wage.user_id %>
</p>

<%= link_to 'Edit', edit_wage_path(@wage) %> |
<%= link_to 'Back', wages_path %>
