<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @wage.company_name %>
</p>

<p>
  <strong>Farm_Name:</strong>
  <%= @wage.farm_name %>
</p>

<p>
  <strong>employee_name:</strong>
  <%= @wage.employee_name %>
</p>

<p>
  <strong>empoyee_number:</strong>
  <%= @wage.empoyee_number %>
</p>



<p>
  <strong>User:</strong>
  <%= @wage.user_id %>
</p>

<%= link_to 'Edit', edit_wage_path(@wage) %> |
<%= link_to 'Back', wages_path %>
