<%= form_with(model: input_calibration, local: true) do |form| %>
  <% if input_calibration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(input_calibration.errors.count, "error") %> prohibited this input_calibration from being saved:</h2>

      <ul>
        <% input_calibration.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Company_Name, class:"label" %>
    <div class="control">
      <%= form.select :Company_Name, [current_user.Company_Name], class:"my-3" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Date, class:"label" %>
    <div class="control">
      <%= form.date_select :Date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Season, class:"label" %>
    <div class="control">
      <%= form.text_field :Season, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Farm_Name, class:"label" %>
    <div class="control">
      <%= form.text_field :Farm_Name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Section, class:"label" %>
    <div class="control">
      <%= form.text_field :Section, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Crop, class:"label" %>
    <div class="control">
      <%= form.text_field :Crop, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Variety, class:"label" %>
    <div class="control">
      <%= form.text_field :Variety, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :fertiliser_type, class:"label" %>
    <div class="control">
      <%= form.text_field :fertiliser_type, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :fertiliser_rate, class:"label" %>
    <div class="control">
      <%= form.text_field :fertiliser_rate, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Bags_Used, class:"label" %>
    <div class="control">
      <%= form.text_field :Bags_Used, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Herbicide, class:"label" %>
    <div class="control">
      <%= form.text_field :Herbicide, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Herbicide_Rate, class:"label" %>
    <div class="control">
      <%= form.text_field :Herbicide_Rate, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Pro_Number, class:"label" %>
    <div class="control">
      <%= form.text_field :Pro_Number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-success" %>
  </div>
<% end %>
