<%= form_with(model: input_calibration, local: true) do |form| %>
  <% if input_calibration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(input_calibration.errors.count, "error") %> prohibited this input_calibration from being saved:</h2>

      <ul>
        <% input_calibration.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_name, class:"label" %>
    <div class="control">
      <%= form.select :company_name, [current_user.company_name], class:"my-3" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :date, class:"label" %>
    <div class="control">
      <%= form.date_select :date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :season, class:"label" %>
    <div class="control">
      <%= form.text_field :season, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :farm_name, class:"label" %>
    <div class="control">
      <%= form.text_field :farm_name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :section, class:"label" %>
    <div class="control">
      <%= form.text_field :section, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :crop, class:"label" %>
    <div class="control">
      <%= form.text_field :crop, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :variety, class:"label" %>
    <div class="control">
      <%= form.text_field :variety, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :fertiliser_type, class:"label" %>
    <div class="control">
      <%= form.text_field :fertiliser_type, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :fertiliser_rate, class:"label" %>
    <div class="control">
      <%= form.text_field :fertiliser_rate, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :bags_used, class:"label" %>
    <div class="control">
      <%= form.text_field :bags_used, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :herbicide, class:"label" %>
    <div class="control">
      <%= form.text_field :herbicide, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :herbicide_rate, class:"label" %>
    <div class="control">
      <%= form.text_field :herbicide_rate, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :pro_number, class:"label" %>
    <div class="control">
      <%= form.text_field :pro_number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-success" %>
  </div>
<% end %>
