<%= form_with(model: input_calibration, local: true) do |form| %>
  <% if input_calibration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(input_calibration.errors.count, "error") %> prohibited this input_calibration from being saved:</h2>

      <ul>
        <% input_calibration.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Company_Name %>
    <%= form.text_field :Company_Name %>
  </div>

  <div class="field">
    <%= form.label :Date %>
    <%= form.date_select :Date %>
  </div>

  <div class="field">
    <%= form.label :Season %>
    <%= form.text_field :Season %>
  </div>

  <div class="field">
    <%= form.label :Farm_Name %>
    <%= form.text_field :Farm_Name %>
  </div>

  <div class="field">
    <%= form.label :Section %>
    <%= form.text_field :Section %>
  </div>

  <div class="field">
    <%= form.label :Crop %>
    <%= form.text_field :Crop %>
  </div>

  <div class="field">
    <%= form.label :Variety %>
    <%= form.text_field :Variety %>
  </div>

  <div class="field">
    <%= form.label :Fertiiliser_TypeFertiliser_Rate %>
    <%= form.text_field :Fertiiliser_TypeFertiliser_Rate %>
  </div>

  <div class="field">
    <%= form.label :Bags_Used %>
    <%= form.text_field :Bags_Used %>
  </div>

  <div class="field">
    <%= form.label :Herbicide %>
    <%= form.text_field :Herbicide %>
  </div>

  <div class="field">
    <%= form.label :Herbicide_Rate %>
    <%= form.text_field :Herbicide_Rate %>
  </div>

  <div class="field">
    <%= form.label :Pro_Number %>
    <%= form.text_field :Pro_Number %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
