<p id="notice"><%= notice %></p>
<%= link_to 'New Input Calibration', new_input_calibration_path, class:"button btn-orange my-3" %>
<div class='box outerdiv'>
<h1 class="has-text-centered"><strong>Input Calibrations</strong></h1>

<table class="table">
  <thead>
    <tr>
      <th>Company name</th>
      <th>Date</th>
      <th>Season</th>
      <th>Farm name</th>
      <th>Section</th>
      <th>Crop</th>
      <th>Variety</th>
      <th>Fertiliser Type</th>
      <th>Fertiliser Rate</th>
      <th>Bags used</th>
      <th>Herbicide</th>
      <th>Herbicide rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @input_calibrations.each do |input_calibration| %>
      <tr>
        <td><%= input_calibration.company_name %></td>
        <td><%= input_calibration.date %></td>
        <td><%= input_calibration.season %></td>
        <td><%= input_calibration.farm_name %></td>
        <td><%= input_calibration.section %></td>
        <td><%= input_calibration.crop %></td>
        <td><%= input_calibration.variety %></td>
        <td><%= input_calibration.fertiliser_type %></td>
        <td><%= input_calibration.fertiliser_rate %></td>
        <td><%= input_calibration.bags_used %></td>
        <td><%= input_calibration.herbicide %></td>
        <td><%= input_calibration.herbicide_rate %></td>
        <td><%= link_to 'Show', input_calibration %></td>
        <td><%= link_to 'Edit', edit_input_calibration_path(input_calibration) %></td>
        <td><%= link_to 'Destroy', input_calibration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>

