<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @input_calibration.company_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @input_calibration.date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @input_calibration.season %>
</p>

<p>
  <strong>Farm name:</strong>
  <%= @input_calibration.farm_name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @input_calibration.section %>
</p>

<p>
  <strong>Crop:</strong>
  <%= @input_calibration.crop %>
</p>

<p>
  <strong>Variety:</strong>
  <%= @input_calibration.variety %>
</p>

<p>
  <strong>Fertiliser Type:</strong>
  <%= @input_calibration.fertiliser_type %>
</p>

<p>
  <strong>Fertiliser Rate:</strong>
  <%= @input_calibration.fertiliser_rate %>
</p>

<p>
  <strong>Bags used:</strong>
  <%= @input_calibration.bags_used %>
</p>

<p>
  <strong>Herbicide:</strong>
  <%= @input_calibration.herbicide %>
</p>

<p>
  <strong>Herbicide rate:</strong>
  <%= @input_calibration.herbicide_rate %>
</p>

<p>
  <strong>Pro number:</strong>
  <%= @input_calibration.pro_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @input_calibration.user_id %>
</p>

<%= link_to 'Edit', edit_input_calibration_path(@input_calibration) %> |
<%= link_to 'Back', input_calibrations_path %>
