<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @input_calibration.Company_Name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @input_calibration.Date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @input_calibration.Season %>
</p>

<p>
  <strong>Farm name:</strong>
  <%= @input_calibration.Farm_Name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @input_calibration.Section %>
</p>

<p>
  <strong>Crop:</strong>
  <%= @input_calibration.Crop %>
</p>

<p>
  <strong>Variety:</strong>
  <%= @input_calibration.Variety %>
</p>

<p>
  <strong>Fertiliser Type:</strong>
  <%= @input_calibration.fertiliser_type %>
</p>

<p>
  <strong>Fertiliser Rate:</strong>
  <%= @input_calibration.fertiliser_rate %>
</p>

<p>
  <strong>Bags used:</strong>
  <%= @input_calibration.Bags_Used %>
</p>

<p>
  <strong>Herbicide:</strong>
  <%= @input_calibration.Herbicide %>
</p>

<p>
  <strong>Herbicide rate:</strong>
  <%= @input_calibration.Herbicide_Rate %>
</p>

<p>
  <strong>Pro number:</strong>
  <%= @input_calibration.Pro_Number %>
</p>

<p>
  <strong>User:</strong>
  <%= @input_calibration.user_id %>
</p>

<%= link_to 'Edit', edit_input_calibration_path(@input_calibration) %> |
<%= link_to 'Back', input_calibrations_path %>
