<%= form_with(model: store, local: true) do |form| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
        <% store.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Company_Name %>
    <%= form.text_field :Company_Name %>
  </div>

  <div class="field">
    <%= form.label :Date %>
    <%= form.date_select :Date %>
  </div>

  <div class="field">
    <%= form.label :Season %>
    <%= form.text_field :Season %>
  </div>

  <div class="field">
    <%= form.label :Farm_Name %>
    <%= form.text_field :Farm_Name %>
  </div>

  <div class="field">
    <%= form.label :Type %>
    <%= form.text_field :Type %>
  </div>

  <div class="field">
    <%= form.label :Input_Name %>
    <%= form.text_field :Input_Name %>
  </div>

  <div class="field">
    <%= form.label :Quantity %>
    <%= form.text_field :Quantity %>
  </div>

  <div class="field">
    <%= form.label :Unit %>
    <%= form.text_field :Unit %>
  </div>

  <div class="field">
    <%= form.label :Unit_Price %>
    <%= form.text_field :Unit_Price %>
  </div>

  <div class="field">
    <%= form.label :Total_Amount %>
    <%= form.text_field :Total_Amount %>
  </div>

  <div class="field">
    <%= form.label :Pro_Number %>
    <%= form.text_field :Pro_Number %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
