<p id="notice"><%= notice %></p>
<%= link_to 'New Store', new_store_path, class:"button is-success my-3" %>
<h1 class="has-background-white">Stores</h1>

<table class="table">
  <thead>
    <tr>
      <th>Company name</th>
      <th>Date</th>
      <th>Season</th>
      <th>Farm name</th>
      <th>Type</th>
      <th>Input name</th>
      <th>Quantity</th>
      <th>Unit</th>
      <th>Unit price</th>
      <th>Total amount</th>
      <th>Pro number</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.Company_Name %></td>
        <td><%= store.Date %></td>
        <td><%= store.Season %></td>
        <td><%= store.Farm_Name %></td>
        <td><%= store.Type %></td>
        <td><%= store.Input_Name %></td>
        <td><%= store.Quantity %></td>
        <td><%= store.Unit %></td>
        <td><%= store.Unit_Price %></td>
        <td><%= store.Total_Amount %></td>
        <td><%= store.Pro_Number %></td>
        <td><%= store.user_id %></td>
        <td><%= link_to 'Show', store %></td>
        <td><%= link_to 'Edit', edit_store_path(store) %></td>
        <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


