<%= link_to 'New Store', new_store_path, class:"button btn-orange my-3" %>
<div class="box outerdiv">
  <p id="notice"><%= notice %></p>
  <h1 class="has-text-centered"><strong>Stores</strong></h1>

  <table class="table">
    <thead>
      <tr>
        <th>Company name</th>
        <th>Date</th>
        <th>Season</th>
        <th>Farm name</th>
        <th>Type</th>
        <th>Input name</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Unit price</th>
        <th>Total amount</th>
        <th colspan="3" class="has-text-centered">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @stores.each do |store| %>
        <tr>
          <td><%= store.company_name %></td>
          <td><%= store.date %></td>
          <td><%= store.season %></td>
          <td><%= store.farm_name %></td>
          <td><%= store.types %></td>
          <td><%= store.input_name %></td>
          <td>
            <%# <%= store.quantity %>
            <%= quantity(store.types, store.input_name) %>
          </td>
          <td><%= store.unit %></td>
          <td><%= store.unit_price %></td>
          <td><%= store.total_amount %></td>
          <td><%= link_to 'Show', store %></td>
          <td><%= link_to 'Top Up', edit_store_path(store) %></td>
          <td><%= link_to 'Delete', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
