<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @store.Company_Name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @store.Date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @store.Season %>
</p>

<p>
  <strong>Farm name:</strong>
  <%= @store.Farm_Name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @store.Type %>
</p>

<p>
  <strong>Input name:</strong>
  <%= @store.Input_Name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @store.Quantity %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @store.Unit %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @store.Unit_Price %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @store.Total_Amount %>
</p>

<p>
  <strong>Pro number:</strong>
  <%= @store.Pro_Number %>
</p>

<p>
  <strong>User:</strong>
  <%= @store.user_id %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
