<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @store.company_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @store.date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @store.season %>
</p>

<p>
  <strong>Farm name:</strong>
  <%= @store.farm_name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @store.types %>
</p>

<p>
  <strong>Input name:</strong>
  <%= @store.input_name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @store.quantity %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @store.unit %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @store.unit_price %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @store.total_amount %>
</p>

<p>
  <strong>Pro number:</strong>
  <%= @store.pro_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @store.user_id %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
