<%= form_with(model: daily_requisition, local: true) do |form| %>
  <% if daily_requisition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(daily_requisition.errors.count, "error") %> prohibited this daily_requisition from being saved:</h2>

      <ul>
        <% daily_requisition.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="control">
      <%= form.text_field :company_name, value:current_user.company_name, type: :hidden %>
    </div>
  </div>

  <div class="field">
    <%= form.label :date, class:"label" %>
    <div class="control">
      <%= form.date_select :date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.text_field :season, value: season_active, type: :hidden %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.text_field :farm_name, value:current_user.farm_name, type: :hidden %>
    </div>
  </div>

  <div class="field">
    <%= form.label :requisition, class:"label" %>
    <div class="control">
      <%= form.text_field :requisition, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :pro_number, class:"label" %>
    <div class="control">
      <%= form.text_field :pro_number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"button btn-orange" %>
  </div>
<% end %>
