<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @daily_requisition.company_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @daily_requisition.date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @daily_requisition.season %>
</p>

<p>
  <strong>Farm name:</strong>
  <%= @daily_requisition.farm_name %>
</p>

<p>
  <strong>Requisition:</strong>
  <%= @daily_requisition.requisition %>
</p>

<p>
  <strong>Pro number:</strong>
  <%= @daily_requisition.pro_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @daily_requisition.user_id %>
</p>

<%= link_to 'Edit', edit_daily_requisition_path(@daily_requisition) %> |
<%= link_to 'Back', daily_requisitions_path %>
