<%= form_with(model: harvesting, local: true) do |form| %>
  <% if harvesting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(harvesting.errors.count, "error") %> prohibited this harvesting from being saved:</h2>

      <ul>
        <% harvesting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Compnay_Name, class:"label" %>
    <%= form.text_field :Compnay_Name, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :Date %>
    <%= form.date_select :Date %>
  </div>

  <div class="field">
    <%= form.label :Season, class:"label" %>
    <%= form.text_field :Season, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :Farm_Name, class:"label" %>
    <%= form.text_field :Farm_Name, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :Section, class:"label" %>
    <%= form.text_field :Section, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :Crop, class:"label" %>
    <%= form.text_field :Crop, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :KGS_Done, class:"label" %>
    <%= form.text_field :KGS_Done, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :Pro_Number, class:"label" %>
    <%= form.text_field :Pro_Number, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :user_id, class:"label" %>
    <%= form.text_field :user_id, class:"input" %>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-info" %>
  </div>
<% end %>
