<%= form_with(model: harvesting, local: true) do |form| %>
  <% if harvesting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(harvesting.errors.count, "error") %> prohibited this harvesting from being saved:</h2>

      <ul>
        <% harvesting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_name, class:"label" %>
    <%= form.select :company_name, [current_user.company_name], class:"my-3" %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.text_field :season, value: season_active, type: :hidden %>
  </div>

  <div class="field">
    <%= form.label :farm_name, class:"label" %>
    <%= form.text_field :farm_name, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :section, class:"label" %>
    <%= form.text_field :section, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :cereal_name, class:"label" %>
    <%= form.text_field :cereal_name, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :kgs_done, class:"label" %>
    <%= form.text_field :kgs_done, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :pro_number, class:"label" %>
    <%= form.text_field :pro_number, class:"input" %>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"button btn-orange" %>
  </div>
<% end %>
