<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @harvesting.company_name %>
</p>

<p>
  <strong>date:</strong>
  <%= @harvesting.date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @harvesting.season %>
</p>

<p>
  <strong>Farm name:</strong>
  <%= @harvesting.farm_name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @harvesting.section %>
</p>

<p>
  <strong>Cereal Name:</strong>
  <%= @harvesting.cereal_name %>
</p>

<p>
  <strong>Kgs done:</strong>
  <%= @harvesting.kgs_done %>
</p>

<%= link_to 'Edit', edit_harvesting_path(@harvesting) %> |
<%= link_to 'Back', harvestings_path %>
