<div class="box side-bar">
  <div class="columns pb-0">
    <div class="column pb-0">
      <div class="card pb-0">
        <h1 class="has-text-centered has-background-black"><strong class="has-text-light">All Users</strong></h1>
        <div class="card-content has-background-light">
          <div class="content has-text-centered">
            <%= User.all.count %>
          </div>
        </div>
      </div>
    </div>

    <div class="column pb-0">
      <div class="card pb-0">
        <h1 class="has-text-centered has-background-black"><strong class="has-text-light">Admin Users</strong></h1>
        <div class="card-content has-background-light">
          <div class="content has-text-centered">
            <%= User.all.admin.count %>
          </div>
        </div>
      </div>
    </div>

    <div class="column pb-0">
      <div class="card pb-0">
        <h1 class="has-text-centered has-background-black"><strong class="has-text-light">Farm Owners</strong></h1>
        <div class="card-content has-background-light">
          <div class="content has-text-centered">
            <%= User.all.farm_owner.count %>
          </div>
        </div>
      </div>
    </div>

    <div class="column pb-0">
      <div class="card pb-0">
        <h1 class="has-text-centered has-background-black"><strong class="has-text-light">Farm Manager</strong></h1>
        <div class="card-content has-background-light">
          <div class="content has-text-centered">
            <%= User.all.manager.count %>
          </div>
        </div>
      </div>
    </div>

    <div class="column pb-0">
      <div class="card pb-0">
        <h1 class="has-text-centered has-background-black"><strong class="has-text-light">Verified Users</strong></h1>
        <div class="card-content has-background-light">
          <div class="content has-text-centered">
            <%= User.all.verified.count %>
          </div>
        </div>
      </div>
    </div>

    <div class="column pb-0">
      <div class="card pb-0">
        <h1 class="has-text-centered has-background-black"><strong class="has-text-light">Contractors</strong></h1>
        <div class="card-content has-background-light">
          <div class="content has-text-centered">
            <%= User.all.contractor.count %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



<% @users.each do |user| %>
<div class="card mb-5">
  <div class="card-header"></div>
  <div class="card-content">
    <div class="content">
      <div class="columns">
        <div class="column is-6">
          <div class="columns">
            <div class="column is-7">
              <h4>Email</h4>
              <%= user.email %>
            </div>
            <div class="column is-5">
              <h4>cellphone</h4>
              <%= user.cellphone %>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div class="columns">
            <div class="column is-7">
              <h4>Created At</h4>
              <%= user.created_at%>
            </div>
            <div class="column is-3">
              <h5>Category</h5>
              <%= user.category %>
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column is-6">
          <div class="columns">
            <div class="column is-7">
              <h4>Status</h4>
              <% if user.status == true %>
                <p>Verified</p>
              <% else %>
                <p>Not Verified</p>
              <% end %>
            </div>
            <div class="column is-5">
              <h4>Is Admin?</h4>
              <% if user.is_admin == true %>
                <p>Yes</p>
              <% else %>
                <p>No</p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div class="columns">
            <div class="column is-7">
              <h4>Farm Owner</h4>
              <% if user.is_farm_owner == true %>
                <p>Yes</p>
              <% else %>
                <p>No</p>
              <% end %>
            </div>
            <div class="column is-3">
              <h5>Manager</h5>
              <% if user.is_manager == true %>
                <p>Yes</p>
              <% else %>
                <p>No</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="card-footer">
    <div class="card-footer-item">
      <%= link_to 'Edit Account', edit_user_path(user), class:"button is-info" %>
    </div>
    <div class="card-footer-item">
      <%= link_to 'Delete Account', user, method: :delete, data: { confirm: 'Are you sure?' }, class:"button is-danger" %>
    </div>
  </footer>
</div>
<% end %>
