<% @users.each do |user| %>
<div class="card my-5">
  <div class="card-header"></div>
  <div class="card-content">
    <div class="content">
      <div class="columns">
        <div class="column is-6">
          <div class="columns">
            <div class="column is-7">
              <h4>Email</h4>
              <%= user.email %>
            </div>
            <div class="column is-5">
              <h4>cellphone</h4>
              <%= user.cellphone %>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div class="columns">
            <div class="column is-7">
              <h4>Created At</h4>
              <%= user.created_at%>
            </div>
            <div class="column is-3">
              <h5>Category</h5>
              <%= user.Category %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="card-footer">
    <div class="card-footer-item">
      <%= link_to 'Edit', edit_user_path(user), class:"button is-success" %>
    </div>
    <div class="card-footer-item">
      <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class:"button is-danger" %>
    </div>
  </footer>
</div>
<% end %>
