<p id="notice"><%= notice %></p>
<%= link_to 'New Purchase', new_purchase_path, class:"button btn-orange my-3" %>
<div class='box outerdiv'>
<h1 class="has-background-white">Purchases</h1>

<table class="table">
  <thead>
    <tr>
      <th>Company name</th>
      <th>Date</th>
      <th>Season</th>
      <th>Item</th>
      <th>Unit</th>
      <th>Unit price</th>
      <th>Total items</th>
      <th>Total amount</th>
      <th>Vat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.company_name %></td>
        <td><%= purchase.date %></td>
        <td><%= purchase.season %></td>
        <td><%= purchase.item %></td>
        <td><%= purchase.unit %></td>
        <td><%= purchase.unit_price %></td>
        <td><%= purchase.total_items %></td>
        <td><%= purchase.total_amount %></td>
        <td><%= purchase.vat %></td>
        <td><%= link_to 'Show', purchase %></td>
        <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
        <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>


