<%= form_with(model: delivery, local: true) do |form| %>
  <% if delivery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(delivery.errors.count, "error") %> prohibited this delivery from being saved:</h2>

      <ul>
        <% delivery.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Company_Name, class:"label" %>
    <div class="control">
      <%= form.select :Company_Name, [current_user.Company_Name], class:"my-3" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Date, class:"label" %>
    <div class="control">
      <%= form.date_select :Date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Season, class:"label" %>
    <div class="control">
      <%= form.text_field :Season, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Farm_Name, class:"label" %>
    <div class="control">
      <%= form.text_field :Farm_Name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Section, class:"label" %>
    <div class="control">
      <%= form.text_field :Section, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Type, class:"label" %>
    <div class="control">
      <%= form.text_field :Type, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Delivered_by, class:"label" %>
    <div class="control">
      <%= form.text_field :Delivered_by, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Goods, class:"label" %>
    <div class="control">
      <%= form.text_field :Goods, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Quantity, class:"label" %>
    <div class="control">
      <%= form.text_field :Quantity, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :amount, class:"label" %>
    <div class="control">
      <%= form.text_field :amount, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Pro_Number, class:"label" %>
    <div class="control">
      <%= form.text_field :Pro_Number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-success" %>
  </div>
<% end %>
