<p id="notice"><%= notice %></p>
<%= link_to 'New Delivery', new_delivery_path, class:"button is-success my-3" %>
<div class='box'>
<h1>Deliveries</h1>

<table class=" table has-background-white">
  <thead>
    <tr>
      <th>Company name</th>
      <th>Date</th>
      <th>Season</th>
      <th>Farm name</th>
      <th>Section</th>
      <th>Type</th>
      <th>Delivered by</th>
      <th>Goods</th>
      <th>Quantity</th>
      <th>Amount</th>
      <th>Pro number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deliveries.each do |delivery| %>
      <tr>
        <td><%= delivery.company_name %></td>
        <td><%= delivery.date %></td>
        <td><%= delivery.season %></td>
        <td><%= delivery.farm_name %></td>
        <td><%= delivery.section %></td>
        <td><%= delivery.types %></td>
        <td><%= delivery.delivered_by %></td>
        <td><%= delivery.goods %></td>
        <td><%= delivery.quantity %></td>
        <td><%= delivery.amount %></td>
        <td><%= delivery.pro_number %></td>
        <td><%= link_to 'Show', delivery %></td>
        <td><%= link_to 'Edit', edit_delivery_path(delivery) %></td>
        <td><%= link_to 'Destroy', delivery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

