<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @delivery.Company_Name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @delivery.Date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @delivery.Season %>
</p>

<p>
  <strong>Farm name:</strong>
  <%= @delivery.Farm_Name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @delivery.Section %>
</p>

<p>
  <strong>Type:</strong>
  <%= @delivery.Type %>
</p>

<p>
  <strong>Delivered by:</strong>
  <%= @delivery.Delivered_by %>
</p>

<p>
  <strong>Goods:</strong>
  <%= @delivery.Goods %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @delivery.Quantity %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @delivery.amount %>
</p>

<p>
  <strong>Pro number:</strong>
  <%= @delivery.Pro_Number %>
</p>

<p>
  <strong>User:</strong>
  <%= @delivery.user_id %>
</p>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
