<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @delivery.company_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @delivery.date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @delivery.season %>
</p>

<p>
  <strong>Farm name:</strong>
  <%= @delivery.farm_name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @delivery.section %>
</p>

<p>
  <strong>Type:</strong>
  <%= @delivery.types %>
</p>

<p>
  <strong>Delivered by:</strong>
  <%= @delivery.delivered_by %>
</p>

<p>
  <strong>Goods:</strong>
  <%= @delivery.goods %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @delivery.quantity %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @delivery.amount %>
</p>

<p>
  <strong>Pro number:</strong>
  <%= @delivery.pro_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @delivery.user_id %>
</p>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
