<%= form_with(model: rainfall, local: true) do |form| %>
  <% if rainfall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rainfall.errors.count, "error") %> prohibited this rainfall from being saved:</h2>

      <ul>
        <% rainfall.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_name, class:"label" %>
    <div class="control">
      <%= form.select :company_name, [current_user.company_name], class:"my-3" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :date, class:"label" %>
    <div class="control">
      <%= form.date_select :date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :season, class:"label" %>
    <div class="control">
      <%= form.text_field :season, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :farm_name, class:"label" %>
    <div class="control">
      <%= form.text_field :farm_name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :section, class:"label" %>
    <div class="control">
      <%= form.text_field :section, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :mls_received, class:"label" %>
    <div class="control">
      <%= form.text_field :mls_received, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :pro_number, class:"label" %>
    <div class="control">
      <%= form.text_field :pro_number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-success" %>
  </div>
<% end %>
