<p id="notice"><%= notice %></p>
<%= link_to 'New Rainfall', new_rainfall_path, class:"button btn-orange my-3" %>
<div class='box outerdiv'>
<h1 class="has-text-centered"><strong>Rainfalls</strong></h1>

<table class="table">
  <thead>
    <tr>
      <th>Company name</th>
      <th>Date</th>
      <th>Season</th>
      <th>Farm name</th>
      <th>Section</th>
      <th>Mls received</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rainfalls.each do |rainfall| %>
      <tr>
        <td><%= rainfall.company_name %></td>
        <td><%= rainfall.date %></td>
        <td><%= rainfall.season %></td>
        <td><%= rainfall.farm_name %></td>
        <td><%= rainfall.section %></td>
        <td><%= rainfall.mls_received %></td>
        <td><%= link_to 'Show', rainfall %></td>
        <td><%= link_to 'Edit', edit_rainfall_path(rainfall) %></td>
        <td><%= link_to 'Destroy', rainfall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>

