<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @rainfall.Company_Name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @rainfall.Date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @rainfall.Season %>
</p>

<p>
  <strong>Farm name:</strong>
  <%= @rainfall.Farm_Name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @rainfall.Section %>
</p>

<p>
  <strong>Mls received:</strong>
  <%= @rainfall.Mls_received %>
</p>

<p>
  <strong>Pro number:</strong>
  <%= @rainfall.Pro_Number %>
</p>

<p>
  <strong>User:</strong>
  <%= @rainfall.user_id %>
</p>

<%= link_to 'Edit', edit_rainfall_path(@rainfall) %> |
<%= link_to 'Back', rainfalls_path %>
