<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @rainfall.company_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @rainfall.date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @rainfall.season %>
</p>

<p>
  <strong>Farm name:</strong>
  <%= @rainfall.farm_name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @rainfall.section %>
</p>

<p>
  <strong>Mls received:</strong>
  <%= @rainfall.mls_received %>
</p>

<%= link_to 'Edit', edit_rainfall_path(@rainfall) %> |
<%= link_to 'Back', rainfalls_path %>
