<%= form_with(model: seedbed, local: true) do |form| %>
  <% if seedbed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seedbed.errors.count, "error") %> prohibited this seedbed from being saved:</h2>

      <ul>
        <% seedbed.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="control">
      <%= form.text_field :company_name, value:current_user.company_name, type: :hidden %>
    </div>
  </div>

  <div class="field">
    <%= form.label :date, class:"label" %>
    <div class="control">
      <%= form.date_select :date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.text_field :season, value: season_active, type: :hidden %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.text_field :farm_name, value:current_user.farm_name, type: :hidden %>
    </div>
  </div>

  <div class="field">
    <%= form.label :section, class:"label" %>
    <div class="control">
      <%= form.text_field :section, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :item_used, class:"label" %>
    <div class="control">
      <%= form.text_field :item_used, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :unit, class:"label" %>
    <div class="control">
      <%= form.text_field :unit, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :input_amount, class:"label" %>
    <div class="control">
      <%= form.text_field :input_amount, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :labour_amount, class:"label" %>
    <div class="control">
      <%= form.text_field :labour_amount, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :pro_number, class:"label" %>
    <div class="control">
      <%= form.text_field :pro_number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"button btn-orange" %>
  </div>
<% end %>
