<p id="notice"><%= notice %></p>
<%= link_to 'New Seedbed', new_seedbed_path, class:"button is-success my-3" %>
<div class='box'>
<h1 class="has-background-white">Seedbeds</h1>

<table class="table">
  <thead>
    <tr>
      <th>Company name</th>
      <th>Date</th>
      <th>Season</th>
      <th>Farm name</th>
      <th>Section</th>
      <th>Item used</th>
      <th>Quantity</th>
      <th>Unit</th>
      <th>Input amount</th>
      <th>Labour amount</th>
      <th>Pro number</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seedbeds.each do |seedbed| %>
      <tr>
        <td><%= seedbed.company_name %></td>
        <td><%= seedbed.date %></td>
        <td><%= seedbed.season %></td>
        <td><%= seedbed.farm_name %></td>
        <td><%= seedbed.section %></td>
        <td><%= seedbed.item_used %></td>
        <td><%= seedbed.quantity %></td>
        <td><%= seedbed.unit %></td>
        <td><%= seedbed.input_amount %></td>
        <td><%= seedbed.labour_amount %></td>
        <td><%= seedbed.pro_number %></td>
        <td><%= seedbed.user_id %></td>
        <td><%= link_to 'Show', seedbed %></td>
        <td><%= link_to 'Edit', edit_seedbed_path(seedbed) %></td>
        <td><%= link_to 'Destroy', seedbed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>

