<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @seedbed.company_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @seedbed.date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @seedbed.season %>
</p>

<p>
  <strong>Farm name:</strong>
  <%= @seedbed.farm_name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @seedbed.section %>
</p>

<p>
  <strong>Item used:</strong>
  <%= @seedbed.item_used %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @seedbed.quantity %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @seedbed.unit %>
</p>

<p>
  <strong>Input amount:</strong>
  <%= @seedbed.input_amount %>
</p>

<p>
  <strong>Labour amount:</strong>
  <%= @seedbed.labour_amount %>
</p>

<p>
  <strong>Pro number:</strong>
  <%= @seedbed.pro_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @seedbed.user_id %>
</p>

<%= link_to 'Edit', edit_seedbed_path(@seedbed) %> |
<%= link_to 'Back', seedbeds_path %>
