<%= form_with(model: advertisement, local: true) do |form| %>
  <% if advertisement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(advertisement.errors.count, "error") %> prohibited this advertisement from being saved:</h2>

      <ul>
        <% advertisement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Company_Name, class:"label" %>
    <div class="control">
      <%= form.text_field :Company_Name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Date, class:"label" %>
    <div class="control">
      <%= form.date_select :Date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Item_Type, class:"label" %>
    <div class="control">
      <%= form.text_field :Item_Type , class:"input"%>
    </div>
  </div>

  <div class="field">
    <%= form.label :item_Name, class:"label" %>
    <div class="control">
      <%= form.text_field :item_Name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Unit, class:"label" %>
    <div class="control"></div>
    <%= form.text_field :Unit, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :Unit_Price, class:"label" %>
    <div class="control">
      <%= form.text_field :Unit_Price, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :VAT, class:"label" %>
    <div class="control">
      <%= form.text_field :VAT, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Total_Amount, class:"label" %>
    <div class="control">
      <%= form.text_field :Total_Amount, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :user_id, class:"label" %>
    <div class="control">
      <%= form.text_field :user_id, class:"input" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-success" %>
  </div>
<% end %>
