<p id="notice"><%= notice %></p>

<%= link_to 'New Advertisement', new_advertisement_path, class:"button is-success my-3" %>
<div class='box'>
<h1 class="has-background-white">Advertisements</h1>

<table class="table">
  <thead>
    <tr>
      <th>Company name</th>
      <th>Date</th>
      <th>Item type</th>
      <th>Item name</th>
      <th>Unit</th>
      <th>Unit price</th>
      <th>Vat</th>
      <th>Total amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @advertisements.each do |advertisement| %>
      <tr>
        <td><%= advertisement.company_name %></td>
        <td><%= advertisement.date %></td>
        <td><%= advertisement.item_type %></td>
        <td><%= advertisement.item_name %></td>
        <td><%= advertisement.unit %></td>
        <td><%= advertisement.unit_price %></td>
        <td><%= advertisement.vat %></td>
        <td><%= advertisement.total_amount %></td>
        <td><%= link_to 'Show', advertisement %></td>
        <td><%= link_to 'Edit', edit_advertisement_path(advertisement) %></td>
        <td><%= link_to 'Destroy', advertisement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>

