<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @advertisement.company_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @advertisement.date %>
</p>

<p>
  <strong>Item type:</strong>
  <%= @advertisement.item_type %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @advertisement.item_name %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @advertisement.unit %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @advertisement.unit_price %>
</p>

<p>
  <strong>Vat:</strong>
  <%= @advertisement.vat %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @advertisement.total_amount %>
</p>

<%= link_to 'Edit', edit_advertisement_path(@advertisement) %> |
<%= link_to 'Back', advertisements_path %>
