<p id="notice"><%= notice %></p>
<%= link_to 'New Tobacco Sale', new_tobacco_sale_path, class:"button is-success my-3" %>
<h1>Tobacco Sales</h1>

<% @tobacco_sales.each do |tobacco_sale| %>
<div class="box">
  <div class="columns mb-2 has-background-black">
  <div class="column is-10"><h5 class="has-text-white">Tobacco Sales Sheet</h5></div>
  <div class="column is-2">Actions</div>
</div>
  <div class="columns is-centered">
    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Company Name </strong>
        </div>
          <div class="card-content">
            <div class="content has-text-centered">
              <%= tobacco_sale.company_name %>
            </div>
          </div>
      </div>
    </div>
    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Season</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.season %>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Date</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.date %>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Grower Number</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.grower_number %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns is-centered">
    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Section</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.section %>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Sale Number</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.sale_number %>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Bales Sold</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.bales_sold %>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Mass</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.mass %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns is-centered">
    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Collect Bales</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.collect_bales %>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Average Price</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.average_price %>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Weighing and Auction</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.weighing_and_auction %>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Afforestration</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.afforestration %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns is-centered">
    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Levy</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.levy %>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Stop Oder Commission</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.stop_oder_commission %>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Insurance Name</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.insurance_name %>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Insurance Amount</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.insurance_amount %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns is-centered">
    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Bank Name</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.bank_name %>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Bank Amount</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.bank_amount %>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Tina Ze</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.tianZe %>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Balance</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.balance %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns is-centered">
    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Transporter Name</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.transporter_name %>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Transporter Amount</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.transporter_amount %>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Other 1 Amount</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.other_1_name %>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Other 1 Amount</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.other_1_amount %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns is-centered">
    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Other 2 Name</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.other_2_name %>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Other 2 Amount</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.other_2_amount %>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Gross Realisation</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.gross_realisation %>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">
      <div class="card">
        <div class="has-text-centered">
          <strong>Net Realisation</strong>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <%= tobacco_sale.net_realistion %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

