<p id="notice"><%= notice %></p>

<p>
  <strong>Season:</strong>
  <%= @tobacco_sale.company_name %>
</p>

<p>
  <strong>Season:</strong>
  <%= @tobacco_sale.season %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tobacco_sale.date %>
</p>

<p>
  <strong>Grower number:</strong>
  <%= @tobacco_sale.grower_number %>
</p>

<p>
  <strong>Section:</strong>
  <%= @tobacco_sale.section %>
</p>

<p>
  <strong>Sale number:</strong>
  <%= @tobacco_sale.sale_number %>
</p>

<p>
  <strong>Bales sold:</strong>
  <%= @tobacco_sale.bales_sold %>
</p>

<p>
  <strong>Mass:</strong>
  <%= @tobacco_sale.mass %>
</p>

<p>
  <strong>Collect bales:</strong>
  <%= @tobacco_sale.collect_bales %>
</p>

<p>
  <strong>Average price:</strong>
  <%= @tobacco_sale.average_price %>
</p>

<p>
  <strong>Weighing and auction:</strong>
  <%= @tobacco_sale.weighing_and_auction %>
</p>

<p>
  <strong>Afforestration:</strong>
  <%= @tobacco_sale.afforestration %>
</p>

<p>
  <strong>Levy:</strong>
  <%= @tobacco_sale.levy %>
</p>

<p>
  <strong>Stop oder commission:</strong>
  <%= @tobacco_sale.stop_oder_commission %>
</p>

<p>
  <strong>Insurance name:</strong>
  <%= @tobacco_sale.insurance_name %>
</p>

<p>
  <strong>Insurance amount:</strong>
  <%= @tobacco_sale.insurance_amount %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @tobacco_sale.bank_name %>
</p>

<p>
  <strong>Bank amount:</strong>
  <%= @tobacco_sale.bank_amount %>
</p>

<p>
  <strong>Tianze:</strong>
  <%= @tobacco_sale.tianZe %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @tobacco_sale.balance %>
</p>

<p>
  <strong>Transporter name:</strong>
  <%= @tobacco_sale.transporter_name %>
</p>

<p>
  <strong>Transporter amount:</strong>
  <%= @tobacco_sale.transporter_amount %>
</p>

<p>
  <strong>Other 1 name:</strong>
  <%= @tobacco_sale.other_1_name %>
</p>

<p>
  <strong>Other 1 amount:</strong>
  <%= @tobacco_sale.other_1_amount %>
</p>

<p>
  <strong>Other 2 name:</strong>
  <%= @tobacco_sale.other_2_name %>
</p>

<p>
  <strong>Other 2 amount:</strong>
  <%= @tobacco_sale.other_2_amount %>
</p>

<p>
  <strong>Gross realisation:</strong>
  <%= @tobacco_sale.gross_realisation %>
</p>

<p>
  <strong>Net realistion:</strong>
  <%= @tobacco_sale.net_realistion %>
</p>

<p>
  <strong>User:</strong>
  <%= @tobacco_sale.user_id %>
</p>

<%= link_to 'Edit', edit_tobacco_sale_path(@tobacco_sale) %> |
<%= link_to 'Back', tobacco_sales_path %>
