<%= form_with(model: mkt_payment, local: true) do |form| %>
  <% if mkt_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mkt_payment.errors.count, "error") %> prohibited this mkt_payment from being saved:</h2>

      <ul>
        <% mkt_payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Date, class:"label" %>
    <div class="control">
      <%= form.date_select :Date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Company_Name, class:"label" %>
    <div class="control">
      <%= form.text_field :Company_Name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Service_Rendered, class:"label" %>
    <div class="control">
      <%= form.text_field :Service_Rendered, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Service, class:"label" %>
    <div class="control">
      <%= form.text_field :Service, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Amount_Paid, class:"label" %>
    <div class="control">
      <%= form.text_field :Amount_Paid, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :From, class:"label" %>
    <div class="control">
      <%= form.text_field :From, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :To, class:"label" %>
    <div class="control">
      <%= form.text_field :To, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Receipt_Number, class:"label" %>
    <div class="control">
      <%= form.text_field :Receipt_Number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Paid_by, class:"label" %>
    <div class="control">
      <%= form.text_field :Paid_by, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-success" %>
  </div>
<% end %>
