<%= form_with(model: mkt_payment, local: true) do |form| %>
  <% if mkt_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mkt_payment.errors.count, "error") %> prohibited this mkt_payment from being saved:</h2>

      <ul>
        <% mkt_payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date, class:"label" %>
    <div class="control">
      <%= form.date_select :date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :company_name, class:"label" %>
    <div class="control">
      <%= form.text_field :company_name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :service_rendered, class:"label" %>
    <div class="control">
      <%= form.text_field :service_rendered, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :service, class:"label" %>
    <div class="control">
      <%= form.text_field :service, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :amount_paid, class:"label" %>
    <div class="control">
      <%= form.text_field :amount_paid, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :from, class:"label" %>
    <div class="control">
      <%= form.text_field :from, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :to, class:"label" %>
    <div class="control">
      <%= form.text_field :to, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :receipt_number, class:"label" %>
    <div class="control">
      <%= form.text_field :receipt_number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :paid_by, class:"label" %>
    <div class="control">
      <%= form.text_field :paid_by, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-success" %>
  </div>
<% end %>
