<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @mkt_payment.Date %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @mkt_payment.Company_Name %>
</p>

<p>
  <strong>Service rendered:</strong>
  <%= @mkt_payment.Service_Rendered %>
</p>

<p>
  <strong>Service:</strong>
  <%= @mkt_payment.Service %>
</p>

<p>
  <strong>Amount paid:</strong>
  <%= @mkt_payment.Amount_Paid %>
</p>

<p>
  <strong>From:</strong>
  <%= @mkt_payment.From %>
</p>

<p>
  <strong>To:</strong>
  <%= @mkt_payment.To %>
</p>

<p>
  <strong>Receipt number:</strong>
  <%= @mkt_payment.Receipt_Number %>
</p>

<p>
  <strong>Paid by:</strong>
  <%= @mkt_payment.Paid_by %>
</p>

<p>
  <strong>Pro number:</strong>
  <%= @mkt_payment.Pro_number %>
</p>

<%= link_to 'Edit', edit_mkt_payment_path(@mkt_payment) %> |
<%= link_to 'Back', mkt_payments_path %>
