<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @mkt_payment.date %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @mkt_payment.company_name %>
</p>

<p>
  <strong>Service rendered:</strong>
  <%= @mkt_payment.service_rendered %>
</p>

<p>
  <strong>Service:</strong>
  <%= @mkt_payment.service %>
</p>

<p>
  <strong>Amount paid:</strong>
  <%= @mkt_payment.amount_paid %>
</p>

<p>
  <strong>From:</strong>
  <%= @mkt_payment.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @mkt_payment.to %>
</p>

<p>
  <strong>Receipt number:</strong>
  <%= @mkt_payment.receipt_number %>
</p>

<p>
  <strong>Paid by:</strong>
  <%= @mkt_payment.paid_by %>
</p>

<p>
  <strong>Pro number:</strong>
  <%= @mkt_payment.pro_number %>
</p>

<%= link_to 'Edit', edit_mkt_payment_path(@mkt_payment) %> |
<%= link_to 'Back', mkt_payments_path %>
