<%= form_with(model: cashflow, local: true) do |form| %>
  <% if cashflow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cashflow.errors.count, "error") %> prohibited this cashflow from being saved:</h2>

      <ul>
        <% cashflow.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Company_Name, class:"label" %>
    <div class="control">
      <%= form.select :Company_Name, [current_user.Company_Name], class:"my-3" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Date, class:"label" %>
    <div class="control">
      <%= form.date_select :Date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Season, class:"label" %>
    <div class="control">
      <%= form.text_field :Season, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Month, class:"label" %>
    <div class="control">
      <%= form.text_field :Month, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Grower_Name, class:"label" %>
    <div class="control">
      <%= form.text_field :Grower_Name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Hectrage, class:"label" %>
    <div class="control">
      <%= form.text_field :Hectrage, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Operation, class:"label" %>
    <div class="control">
      <%= form.text_field :Operation, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Unit_Price, class:"label" %>
    <div class="control">
      <%= form.text_field :Unit_Price, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :quantity_per_hectre, class:"label" %>
    <div class="control">
      <%= form.text_field :quantity_per_hectre, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Unity, class:"label" %>
    <div class="control">
      <%= form.text_field :Unity, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Input_Name, class:"label" %>
    <div class="control">
      <%= form.text_field :Input_Name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Total_Amount, class:"label" %>
    <div class="control">
      <%= form.text_field :Total_Amount, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Pro_Number, class:"label" %>
    <div class="control">
      <%= form.text_field :Pro_Number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-success" %>
  </div>
<% end %>
