<%= form_with(model: cashflow, local: true) do |form| %>
  <% if cashflow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cashflow.errors.count, "error") %> prohibited this cashflow from being saved:</h2>

      <ul>
        <% cashflow.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_name, class:"label" %>
    <div class="control">
      <%= form.select :company_name, [current_user.company_name], class:"my-3" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :date, class:"label" %>
    <div class="control">
      <%= form.date_select :date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.text_field :season, value: season_active, type: :hidden %>
    </div>
  </div>

  <div class="field">
    <%= form.label :month, class:"label" %>
    <div class="control">
      <%= form.text_field :month, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :grower_name, class:"label" %>
    <div class="control">
      <%= form.text_field :grower_name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :hectrage, class:"label" %>
    <div class="control">
      <%= form.text_field :hectrage, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :operation, class:"label" %>
    <div class="control">
      <%= form.select :operation, ['SeedBed', 'Land Chemicals', 'Land Fertilizers', 'Farm Operations', 'Curing', 'Grading And Selling', 'Others']%>
    </div>
  </div>

  <div class="field">
    <%= form.label :unit_price, class:"label" %>
    <div class="control">
      <%= form.text_field :unit_price, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :quantity_per_hectre, class:"label" %>
    <div class="control">
      <%= form.text_field :quantity_per_hectre, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :unity, class:"label" %>
    <div class="control">
      <%= form.text_field :unity, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :input_name, class:"label" %>
    <div class="control">
      <%= form.text_field :input_name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :total_amount, class:"label" %>
    <div class="control">
      <%= form.text_field :total_amount, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :tian_ze_number, class:"label" %>
    <div class="control">
      <%= form.text_field :tian_ze_number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :total_quantity, class:"label" %>
    <div class="control">
      <%= form.text_field :total_quantity, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :pro_number, class:"label" %>
    <div class="control">
      <%= form.text_field :pro_number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"button btn-orange" %>
  </div>
<% end %>
