<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @cashflow.company_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @cashflow.date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @cashflow.season %>
</p>

<p>
  <strong>Month:</strong>
  <%= @cashflow.month %>
</p>

<p>
  <strong>Grower name:</strong>
  <%= @cashflow.grower_name %>
</p>

<p>
  <strong>Hectrage:</strong>
  <%= @cashflow.hectrage %>
</p>

<p>
  <strong>Operation:</strong>
  <%= @cashflow.operation %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @cashflow.unit_price %>
</p>

<p>
  <strong>Quantity per hectre:</strong>
  <%= @cashflow.quantity_per_hectre %>
</p>

<p>
  <strong>Unity:</strong>
  <%= @cashflow.unity %>
</p>

<p>
  <strong>Input name:</strong>
  <%= @cashflow.input_name %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @cashflow.total_amount %>
</p>

<%= link_to 'Edit', edit_cashflow_path(@cashflow) %> |
<%= link_to 'Back', cashflows_path %>
