<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @cashflow.Company_Name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @cashflow.Date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @cashflow.Season %>
</p>

<p>
  <strong>Month:</strong>
  <%= @cashflow.Month %>
</p>

<p>
  <strong>Grower name:</strong>
  <%= @cashflow.Grower_Name %>
</p>

<p>
  <strong>Hectrage:</strong>
  <%= @cashflow.Hectrage %>
</p>

<p>
  <strong>Operation:</strong>
  <%= @cashflow.Operation %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @cashflow.Unit_Price %>
</p>

<p>
  <strong>Quantity per hectre:</strong>
  <%= @cashflow.quantity_per_hectre %>
</p>

<p>
  <strong>Unity:</strong>
  <%= @cashflow.Unity %>
</p>

<p>
  <strong>Input name:</strong>
  <%= @cashflow.Input_Name %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @cashflow.Total_Amount %>
</p>

<p>
  <strong>Pro number:</strong>
  <%= @cashflow.Pro_Number %>
</p>

<p>
  <strong>User:</strong>
  <%= @cashflow.user_id %>
</p>

<%= link_to 'Edit', edit_cashflow_path(@cashflow) %> |
<%= link_to 'Back', cashflows_path %>
