<%= form_with(model: timebook, local: true) do |form| %>
  <% if timebook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(timebook.errors.count, "error") %> prohibited this timebook from being saved:</h2>

      <ul>
        <% timebook.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :employee_name, class:'label' %>
    <%= form.text_field :employee_name, class:'input' %>
  </div>

  <div class="field">
    <%= form.label :employee_number, class:'label' %>
    <%= form.text_field :employee_number, class:'input' %>
  </div>

  <div class="field">
    <%= form.label :rate, class:'label' %>
    <%= form.text_field :rate, class:'input' %>
  </div>

  <div class="field">
    <%= form.label :day, class:'label' %>
    <%= form.text_field :day, class:'input' %>
  </div>

  <div class="field">
    <%= form.label :gross, class:'label' %>
    <%= form.text_field :gross, class:'input' %>
  </div>

  <div class="field">
    <%= form.label :season, class:'label' %>
    <%= form.text_field :season, class:'input' %>
  </div>

  <div class="field">
    <%= form.label :user_id, class:'label' %>
    <%= form.text_field :user_id, class:'input' %>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-success" %>
  </div>
<% end %>
