<p id="notice"><%= notice %></p>

<%= link_to 'New Timebook', new_timebook_path, class:"button is-success my-3" %>

<h1>Timebooks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Employee name</th>
      <th>Employee number</th>
      <th>Rate</th>
      <th>Day</th>
      <th>Gross</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timebooks.each do |timebook| %>
      <tr>
        <td><%= timebook.date %></td>
        <td><%= timebook.employee_name %></td>
        <td><%= timebook.employee_number %></td>
        <td><%= timebook.rate %></td>
        <td><%= timebook.day %></td>
        <td><%= timebook.gross %></td>
        <td><%= link_to 'Show', timebook %></td>
        <td><%= link_to 'Edit', edit_timebook_path(timebook) %></td>
        <td><%= link_to 'Destroy', timebook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
