<%= form_with(model: cereal_store, local: true) do |form| %>
  <% if cereal_store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cereal_store.errors.count, "error") %> prohibited this cereal_store from being saved:</h2>
      <ul>
        <% cereal_store.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Company_Name, class:"label" %>
    <div class="control"></div>
    <%= form.select :Company_Name, [current_user.Company_Name], class:"my-3" %>
  </div>

  <div class="field">
    <%= form.label :Date, class:"label" %>
    <div class="control">
      <%= form.date_select :Date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Season, class:"label" %>
    <div class="control">
      <%= form.text_field :Season, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Farm_Name, class:"label" %>
    <div class="control">
      <%= form.text_field :Farm_Name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Type, class:"label" %>
    <div class="control">
      <%= form.text_field :Type, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Input_Name, class:"label" %>
    <div class="control">
      <%= form.text_field :Input_Name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Quantity, class:"label" %>
    <div class="control">
      <%= form.text_field :Quantity, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Unit, class:"label" %>
    <div class="control">
      <%= form.text_field :Unit, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Unit_Price, class:"label" %>
    <div class="control">
      <%= form.text_field :Unit_Price, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Total_Amount, class:"label" %>
    <div class="control">
      <%= form.text_field :Total_Amount, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Pro_Number, class:"label" %>
    <div class="control">
      <%= form.text_field :Pro_Number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-success" %>
  </div>
<% end %>
