<%= form_with(model: cereal_store, local: true) do |form| %>
  <% if cereal_store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cereal_store.errors.count, "error") %> prohibited this cereal_store from being saved:</h2>
      <ul>
        <% cereal_store.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_name, class:"label" %>
    <div class="control"></div>
    <%= form.select :company_name, [current_user.Company_Name], class:"my-3" %>
  </div>

  <div class="field">
    <%= form.label :date, class:"label" %>
    <div class="control">
      <%= form.date_select :date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :season, class:"label" %>
    <div class="control">
      <%= form.text_field :season, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :farm_name, class:"label" %>
    <div class="control">
      <%= form.text_field :farm_name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :types, class:"label" %>
    <div class="control">
      <%= form.text_field :types, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :cereal_name, class:"label" %>
    <div class="control">
      <%= form.text_field :input_name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :quantity, class:"label" %>
    <div class="control">
      <%= form.text_field :quantity, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :unit, class:"label" %>
    <div class="control">
      <%= form.text_field :unit, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :unit_price, class:"label" %>
    <div class="control">
      <%= form.text_field :unit_price, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :total_amount, class:"label" %>
    <div class="control">
      <%= form.text_field :total_amount, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :pro_number, class:"label" %>
    <div class="control">
      <%= form.text_field :pro_number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-success" %>
  </div>
<% end %>
