<p id="notice"><%= notice %></p>
<%= link_to 'New Cereal Store', new_cereal_store_path, class:"button is-success my-3" %>
<div class='box'>
<h1 class="has-background-white">Cereal Stores</h1>

<table class="table">
  <thead>
    <tr>
      <th>Company name</th>
      <th>Date</th>
      <th>Season</th>
      <th>Farm name</th>
      <th>Type</th>
      <th>Input name</th>
      <th>Quantity</th>
      <th>Unit</th>
      <th>Unit price</th>
      <th>Total amount</th>
      <th>Pro number</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cereal_stores.each do |cereal_store| %>
      <tr>
        <td><%= cereal_store.company_name %></td>
        <td><%= cereal_store.date %></td>
        <td><%= cereal_store.season %></td>
        <td><%= cereal_store.farm_name %></td>
        <td><%= cereal_store.types %></td>
        <td><%= cereal_store.cereal_name %></td>
        <td><%= cereal_store.quantity %></td>
        <td><%= cereal_store.unit %></td>
        <td><%= cereal_store.unit_price %></td>
        <td><%= cereal_store.total_amount %></td>
        <td><%= cereal_store.pro_number %></td>
        <td><%= cereal_store.user_id %></td>
        <td><%= link_to 'Show', cereal_store %></td>
        <td><%= link_to 'Top Up', edit_cereal_store_path(cereal_store) %></td>
        <td><%= link_to 'Destroy', cereal_store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>

