<p id="notice"><%= notice %></p>

<h1 class="has-background-white">Cereal Stores</h1>

<table class="table">
  <thead>
    <tr>
      <th>Company name</th>
      <th>Date</th>
      <th>Season</th>
      <th>Farm name</th>
      <th>Type</th>
      <th>Input name</th>
      <th>Quantity</th>
      <th>Unit</th>
      <th>Unit price</th>
      <th>Total amount</th>
      <th>Pro number</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cereal_stores.each do |cereal_store| %>
      <tr>
        <td><%= cereal_store.Company_Name %></td>
        <td><%= cereal_store.Date %></td>
        <td><%= cereal_store.Season %></td>
        <td><%= cereal_store.Farm_Name %></td>
        <td><%= cereal_store.Type %></td>
        <td><%= cereal_store.Input_Name %></td>
        <td><%= cereal_store.Quantity %></td>
        <td><%= cereal_store.Unit %></td>
        <td><%= cereal_store.Unit_Price %></td>
        <td><%= cereal_store.Total_Amount %></td>
        <td><%= cereal_store.Pro_Number %></td>
        <td><%= cereal_store.user_id %></td>
        <td><%= link_to 'Show', cereal_store %></td>
        <td><%= link_to 'Edit', edit_cereal_store_path(cereal_store) %></td>
        <td><%= link_to 'Destroy', cereal_store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cereal Store', new_cereal_store_path %>
