<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @cereal_store.company_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @cereal_store.date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @cereal_store.season %>
</p>

<p>
  <strong>Farm name:</strong>
  <%= @cereal_store.farm_name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @cereal_store.types %>
</p>

<p>
  <strong>Cereal name:</strong>
  <%= @cereal_store.cereal_name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @cereal_store.quantity %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @cereal_store.unit %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @cereal_store.unit_price %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @cereal_store.total_amount %>
</p>

<p>
  <strong>Pro number:</strong>
  <%= @cereal_store.pro_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @cereal_store.user_id %>
</p>

<%= link_to 'Edit', edit_cereal_store_path(@cereal_store) %> |
<%= link_to 'Back', cereal_stores_path %>
