<% Employee.all.each do |employee| %>
  <% unless deduction_record_exists(employee.employee_name) %>
    <div class="box">
      <%= form_with(model: @deduction_table, local: true) do |form| %>
        <% if @deduction_table.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@deduction_table.errors.count, "error") %> prohibited this deduction_table from being saved:</h2>

            <ul>
              <% @deduction_table.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="columns">
          <div class="column is-3">
            <strong>Employee Name</strong> <br>
            <%= employee.employee_name %>
            <%= form.text_field :employee_name, value: employee.employee_name, type: :hidden %>
          </div>
          <div class="column is-3">
            <strong>Employee Number</strong> <br>
            <%= employee.employee_number %>
            <%= form.text_field :employee_number, value: employee.employee_number, type: :hidden %>
          </div>
          <div class="column is-3">
            <div class="field">
              <%= form.label :month_starting, class:"label" %>
              <div class="control">
                <%= form.date_select :month_starting, class:"input" %>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <div class="field">
              <%= form.label :month_ending, class:"label" %>
              <div class="control">
                <%= form.date_select :month_ending, class:"input" %>
              </div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-3">
            <div class="field">
              <%= form.label :payee, class:"label" %>
              <div class="control">
                <%= form.text_field :payee, class:"input" %>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <div class="field">
              <%= form.label :nssa, class:"label" %>
              <div class="control">
                <%= form.text_field :nssa, class:"input" %>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <div class="field">
              <%= form.label :nec, class:"label" %>
              <div class="control">
                <%= form.text_field :nec, class:"input" %>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <div class="field">
              <%= form.label :cash_requests, class:"label" %>
              <div class="control">
                <%= form.text_field :cash_requests, class:"input" %>
              </div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-3">
            <div class="field">
              <%= form.label :farm_name, class:"label" %>
              <div class="control">
                <%= form.text_field :farm_name, class:"input" %>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <div class="field">
              <%= form.label :allowance, class:"label" %>
              <div class="control">
                <%= form.text_field :allowance, class:"input" %>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <div class="field">
              <%= form.label :season, class:"label" %>
              <div class="control">
              <%= season_active %>
                <%= form.text_field :season, value: season_active, type: :hidden %>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <div class="field">
              <%= form.label :month, class:"label" %>
              <div class="control">
                <%= form.text_field :month, class:"input" %>
              </div>
            </div>
          </div>
        </div>


        <div class="other-deductions has-text-centered">
          <span id="clickButton" class="clickbutton button is-info mb-2">Click To Add More Deductions</span>
          <div id="otherDeductions" class="hidden">
            <div class="columns">
              <div class="column">
                <div class="field">
                  <%= form.label :other1_name, class:"label" %>
                  <div class="control">
                    <%= form.text_field :other1_name, class:"input" %>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <%= form.label :other1_amount, class:"label" %>
                  <div class="control">
                    <%= form.text_field :other1_amount, class:"input" %>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <%= form.label :other2_name, class:"label" %>
                  <div class="control">
                    <%= form.text_field :other2_name, class:"input" %>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <%= form.label :other2_amount, class:"label" %>
                  <div class="control">
                    <%= form.text_field :other2_amount, class:"input" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <div class="field">
                  <%= form.label :other3_name, class:"label" %>
                  <div class="control">
                    <%= form.text_field :other3_name, class:"input" %>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <%= form.label :other3_amount, class:"label" %>
                  <div class="control">
                    <%= form.text_field :other3_amount, class:"input" %>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <%= form.label :other4_name, class:"label" %>
                  <div class="control">
                    <%= form.text_field :other4_name, class:"input" %>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <%= form.label :other4_amount, class:"label" %>
                  <div class="control">
                    <%= form.text_field :other4_amount, class:"input" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <div class="field">
                  <%= form.label :other5_name, class:"label" %>
                  <div class="control">
                    <%= form.text_field :other5_name, class:"input" %>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <%= form.label :other5_amount, class:"label" %>
                  <div class="control">
                    <%= form.text_field :other5_amount, class:"input" %>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <%= form.label :other6_name, class:"label" %>
                  <div class="control">
                    <%= form.text_field :other6_name, class:"input" %>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <%= form.label :other6_amount, class:"label" %>
                  <div class="control">
                    <%= form.text_field :other6_amount, class:"input" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <div class="field">
                  <%= form.label :other7_name, class:"label" %>
                  <div class="control">
                    <%= form.text_field :other7_name, class:"input" %>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <%= form.label :other7_amount, class:"label" %>
                  <div class="control">
                    <%= form.text_field :other7_amount, class:"input" %>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <%= form.label :other8_name, class:"label" %>
                  <div class="control">
                    <%= form.text_field :other8_name, class:"input" %>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <%= form.label :other8_amount, class:"label" %>
                  <div class="control">
                    <%= form.text_field :other8_amount, class:"input" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <div class="field">
                  <%= form.label :other9_name, class:"label" %>
                  <div class="control">
                    <%= form.text_field :other9_name, class:"input" %>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <%= form.label :other9_amount, class:"label" %>
                  <div class="control">
                    <%= form.text_field :other9_amount, class:"input" %>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <%= form.label :other10_name, class:"label" %>
                  <div class="control">
                    <%= form.text_field :other10_name, class:"input" %>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <%= form.label :other10_amount, class:"label" %>
                  <div class="control">
                    <%= form.text_field :other10_amount, class:"input" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

          <%= form.text_field :total_amount, value: 0, type: :hidden %>
          <div class="actions has-text-centered my-3">
            <%= form.submit 'Create New Deduction', class:"button is-success" %>
          </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= link_to 'Back', deduction_tables_path, class:"button is-black my-3" %>

