<p id="notice"><%= notice %></p>

<div class='columns is-centered'>
  <div class='column is-4'>
  <%= link_to 'New Farm Name', new_farm_name_path, class:'button btn-orange mb-2' %>
    <div class='box outerdiv'>
      <h1>Farm Names</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Farm name</th>
        <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @farm_names.each do |farm_name| %>
      <tr>
        <td><%= farm_name.user_farm_name %></td>
        <td><%= link_to 'Show', farm_name %></td>
        <td><%= link_to 'Edit', edit_farm_name_path(farm_name) %></td>
        <td><%= link_to 'Destroy', farm_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

    </div>
  </div>
</div>