<%= form_with(model: irriagtion_schedule, local: true) do |form| %>
  <% if irriagtion_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(irriagtion_schedule.errors.count, "error") %> prohibited this irriagtion_schedule from being saved:</h2>

      <ul>
        <% irriagtion_schedule.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Company_Name, class:"label" %>
    <div class="control">
      <%= form.text_field :Company_Name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Date, class:"label" %>
    <div class="control">
      <%= form.date_select :Date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Season, class:"label" %>
    <div class="control">
      <%= form.text_field :Season, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Farm_Name, class:"label" %>
    <div class="control">
      <%= form.text_field :Farm_Name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Section, class:"label" %>
    <div class="control">
      <%= form.text_field :Section, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Crop, class:"label" %>
    <div class="control"></div>
    <%= form.text_field :Crop, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :Calibration, class:"label" %>
    <div class="control">
      <%= form.text_field :Calibration, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Mls, class:"label" %>
    <div class="control">
      <%= form.text_field :Mls, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Start_Date, class:"label" %>
    <div class="control">
      <%= form.date_select :Start_Date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :End_Date, class:"label" %>
    <div class="control">
      <%= form.date_select :End_Date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :turn_around_time, class:"label" %>
    <div class="control">
      <%= form.text_field :turn_around_time, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Pro_Number, class:"label" %>
    <div class="control">
      <%= form.text_field :Pro_Number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :user_id, class:"label" %>
    <div class="control">
      <%= form.text_field :user_id, class:"input" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-success" %>
  </div>
<% end %>
