<%= form_with(model: irriagtion_schedule, local: true) do |form| %>
  <% if irriagtion_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(irriagtion_schedule.errors.count, "error") %> prohibited this irriagtion_schedule from being saved:</h2>

      <ul>
        <% irriagtion_schedule.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Company_Name %>
    <%= form.text_field :Company_Name %>
  </div>

  <div class="field">
    <%= form.label :Date %>
    <%= form.date_select :Date %>
  </div>

  <div class="field">
    <%= form.label :Season %>
    <%= form.text_field :Season %>
  </div>

  <div class="field">
    <%= form.label :Farm_Name %>
    <%= form.text_field :Farm_Name %>
  </div>

  <div class="field">
    <%= form.label :Section %>
    <%= form.text_field :Section %>
  </div>

  <div class="field">
    <%= form.label :Crop %>
    <%= form.text_field :Crop %>
  </div>

  <div class="field">
    <%= form.label :Calibration %>
    <%= form.text_field :Calibration %>
  </div>

  <div class="field">
    <%= form.label :Mls %>
    <%= form.text_field :Mls %>
  </div>

  <div class="field">
    <%= form.label :Start_Date %>
    <%= form.date_select :Start_Date %>
  </div>

  <div class="field">
    <%= form.label :End_Date %>
    <%= form.date_select :End_Date %>
  </div>

  <div class="field">
    <%= form.label :turn_around_time %>
    <%= form.text_field :turn_around_time %>
  </div>

  <div class="field">
    <%= form.label :Pro_Number %>
    <%= form.text_field :Pro_Number %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
