<%= form_with(model: irriagtion_schedule, local: true) do |form| %>
  <% if irriagtion_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(irriagtion_schedule.errors.count, "error") %> prohibited this irriagtion_schedule from being saved:</h2>

      <ul>
        <% irriagtion_schedule.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_name, class:"label" %>
    <div class="control">
      <%= form.select :company_name, [current_user.company_name], class:"my-3" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :date, class:"label" %>
    <div class="control">
      <%= form.date_select :date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.text_field :season, value: season_active, type: :hidden %>
    </div>
  </div>

  <div class="field">
    <%= form.label :farm_name, class:"label" %>
    <div class="control">
      <%= form.text_field :farm_name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :section, class:"label" %>
    <div class="control">
      <%= form.text_field :section, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :crop, class:"label" %>
    <div class="control"></div>
    <%= form.text_field :crop, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :calibration, class:"label" %>
    <div class="control">
      <%= form.text_field :calibration, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :mls, class:"label" %>
    <div class="control">
      <%= form.text_field :mls, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :start_date, class:"label" %>
    <div class="control">
      <%= form.date_select :start_date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :end_date, class:"label" %>
    <div class="control">
      <%= form.date_select :end_date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :turn_around_time, class:"label" %>
    <div class="control">
      <%= form.text_field :turn_around_time, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :pro_number, class:"label" %>
    <div class="control">
      <%= form.text_field :pro_number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-success" %>
  </div>
<% end %>
