<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @irriagtion_schedule.company_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @irriagtion_schedule.date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @irriagtion_schedule.season %>
</p>

<p>
  <strong>Farm name:</strong>
  <%= @irriagtion_schedule.farm_name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @irriagtion_schedule.section %>
</p>

<p>
  <strong>Crop:</strong>
  <%= @irriagtion_schedule.crop %>
</p>

<p>
  <strong>Calibration:</strong>
  <%= @irriagtion_schedule.calibration %>
</p>

<p>
  <strong>Mls:</strong>
  <%= @irriagtion_schedule.mls %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @irriagtion_schedule.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @irriagtion_schedule.end_date %>
</p>

<p>
  <strong>Turn around time:</strong>
  <%= @irriagtion_schedule.turn_around_time %>
</p>

<p>
  <strong>Pro number:</strong>
  <%= @irriagtion_schedule.pro_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @irriagtion_schedule.user_id %>
</p>

<%= link_to 'Edit', edit_irriagtion_schedule_path(@irriagtion_schedule) %> |
<%= link_to 'Back', irriagtion_schedules_path %>
