<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @irriagtion_schedule.Company_Name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @irriagtion_schedule.Date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @irriagtion_schedule.Season %>
</p>

<p>
  <strong>Farm name:</strong>
  <%= @irriagtion_schedule.Farm_Name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @irriagtion_schedule.Section %>
</p>

<p>
  <strong>Crop:</strong>
  <%= @irriagtion_schedule.Crop %>
</p>

<p>
  <strong>Calibration:</strong>
  <%= @irriagtion_schedule.Calibration %>
</p>

<p>
  <strong>Mls:</strong>
  <%= @irriagtion_schedule.Mls %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @irriagtion_schedule.Start_Date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @irriagtion_schedule.End_Date %>
</p>

<p>
  <strong>Turn around time:</strong>
  <%= @irriagtion_schedule.turn_around_time %>
</p>

<p>
  <strong>Pro number:</strong>
  <%= @irriagtion_schedule.Pro_Number %>
</p>

<p>
  <strong>User:</strong>
  <%= @irriagtion_schedule.user_id %>
</p>

<%= link_to 'Edit', edit_irriagtion_schedule_path(@irriagtion_schedule) %> |
<%= link_to 'Back', irriagtion_schedules_path %>
