<p id="notice"><%= notice %></p>
<%= link_to 'New Rationing', new_rationing_path, class:"button is-success my-3" %>
<h1 class="has-background-white">Rationings</h1>

<table class="table">
  <thead>
    <tr>
      <th>Company name</th>
      <th>Date</th>
      <th>Season</th>
      <th>Farm name</th>
      <th>Cereal name</th>
      <th>Kgs issued</th>
      <th>Pro number</th>
      <th>Issued To</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rationings.each do |rationing| %>
      <tr>
        <td><%= rationing.company_name %></td>
        <td><%= rationing.date %></td>
        <td><%= rationing.season %></td>
        <td><%= rationing.farm_name %></td>
        <td><%= rationing.cereal_name %></td>
        <td><%= rationing.kgs_issued %></td>
        <td><%= rationing.pro_number %></td>
        <td><%= rationing.issued_to %></td>
        <td><%= rationing.price %></td>
        <td><%= link_to 'Show', rationing %></td>
        <td><%= link_to 'Edit', edit_rationing_path(rationing) %></td>
        <td><%= link_to 'Destroy', rationing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


