<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @rationing.company_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @rationing.date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @rationing.season %>
</p>

<p>
  <strong>Farm name:</strong>
  <%= @rationing.farm_name %>
</p>

<p>
  <strong>Cereal name:</strong>
  <%= @rationing.cereal_name %>
</p>

<p>
  <strong>Kgs issued:</strong>
  <%= @rationing.kgs_issued %>
</p>

<p>
  <strong>Pro number:</strong>
  <%= @rationing.pro_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @rationing.user_id %>
</p>

<%= link_to 'Edit', edit_rationing_path(@rationing) %> |
<%= link_to 'Back', rationings_path %>
