<%= form_with(model: set_season, local: true) do |form| %>
  <% if set_season.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(set_season.errors.count, "error") %> prohibited this set_season from being saved:</h2>

      <ul>
        <% set_season.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <strong>Date From:</strong> <%= form.date_select :date_from, class:"input" %>
  </div>

    <div class="field">
      <strong>Date To:</strong> <%= form.date_select :date_to, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :season, class:"label" %>
    <div class="control">
      <%= form.text_field :season, class:"input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-success" %>
  </div>
<% end %>
