<%= form_with(model: set_season, local: true) do |form| %>
  <% if set_season.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(set_season.errors.count, "error") %> prohibited this set_season from being saved:</h2>

      <ul>
        <% set_season.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Date, class:"label" %>
    <div class="control">
      <%= form.date_select :Date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Season, class:"label" %>
    <div class="control">
      <%= form.text_field :Season, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :user_id, class:"label" %>
    <div class="control">
      <%= form.text_field :user_id, class:"input" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-success" %>
  </div>
<% end %>
