<p id="notice"><%= notice %></p>
<div class='box'>
<h1 class="has-background-white">Set Seasons</h1>

<table class="table">
  <thead>
    <tr>
      <th>Date From</th>
      <th>Date To</th>
      <th>Season</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @set_seasons.each do |set_season| %>
      <tr>
        <td><%= set_season.date_from %></td>
        <td><%= set_season.date_to %></td>
        <td><%= set_season.season %></td>
        <td><%= set_season.user_id %></td>
        <td><%= link_to 'Show', set_season %></td>
        <td><%= link_to 'Edit', edit_set_season_path(set_season) %></td>
        <td><%= link_to 'Destroy', set_season, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<%= link_to 'New Set Season', new_set_season_path, class:'button is-success' %>
