<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @set_season.date_from %>
</p>

<p>
  <strong>Date:</strong>
  <%= @set_season.date_to %>
</p>

<p>
  <strong>Season:</strong>
  <%= @set_season.season %>
</p>

<p>
  <strong>User:</strong>
  <%= @set_season.user_id %>
</p>

<%= link_to 'Edit', edit_set_season_path(@set_season) %> |
<%= link_to 'Back', set_seasons_path %>
