<%= form_with(model: barn_and_slate_record, local: true) do |form| %>
  <% if barn_and_slate_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(barn_and_slate_record.errors.count, "error") %> prohibited this barn_and_slate_record from being saved:</h2>

      <ul>
        <% barn_and_slate_record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_name, class:"label" %>
    <div class="control">
      <%= form.select :company_name, [current_user.company_name], class:"my-3" %>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :season, value: season_active, type: :hidden %>
  </div>

  <div class="field">
    <%= form.label :farm_name, class:"label" %>
    <div class="control">
      <%= form.text_field :farm_name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :p_barn_number, class:"label" %>
    <div class="control">
      <%= form.text_field :p_barn_number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :reap, class:"label" %>
    <div class="control">
      <%= form.text_field :reap, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :p_slate_number, class:"label" %>
    <div class="control">
      <%= form.text_field :p_slate_number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :slate_weight, class:"label" %>
    <div class="control">
      <%= form.text_field :slate_weight, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :barn_weight, class:"label" %>
    <div class="control">
      <%= form.text_field :barn_weight, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :cumulative_barn_weight, class:"label" %>
    <div class="control">
      <%= form.text_field :cumulative_barn_weight, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :pro_number, class:"label" %>
    <div class="control">
      <%= form.text_field :pro_number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="field">
    <%= form.label :date, class:"label" %>
    <div class="control">
      <%= form.date_select :date, class:"input" %>
    </div>
  </>

  <div class="actions">
    <%= form.submit class:"button is-success" %>
  </div>
<% end %>
