<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @barn_and_slate_record.Company_Name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @barn_and_slate_record.Date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @barn_and_slate_record.Season %>
</p>

<p>
  <strong>Farm name:</strong>
  <%= @barn_and_slate_record.Farm_Name %>
</p>

<p>
  <strong>P barn number:</strong>
  <%= @barn_and_slate_record.P_Barn_Number %>
</p>

<p>
  <strong>Reap:</strong>
  <%= @barn_and_slate_record.Reap %>
</p>

<p>
  <strong>P slate numberslate weight:</strong>
  <%= @barn_and_slate_record.P_Slate_NumberSlate_Weight %>
</p>

<p>
  <strong>Barn weight:</strong>
  <%= @barn_and_slate_record.Barn_Weight %>
</p>

<p>
  <strong>Cumulative barn weight:</strong>
  <%= @barn_and_slate_record.Cumulative_Barn_Weight %>
</p>

<p>
  <strong>Pro number:</strong>
  <%= @barn_and_slate_record.Pro_Number %>
</p>

<p>
  <strong>User:</strong>
  <%= @barn_and_slate_record.user_id %>
</p>

<%= link_to 'Edit', edit_barn_and_slate_record_path(@barn_and_slate_record) %> |
<%= link_to 'Back', barn_and_slate_records_path %>
