<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @asset.company_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @asset.date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @asset.season %>
</p>

<p>
  <strong>Asset:</strong>
  <%= @asset.asset %>
</p>

<p>
  <strong>Asset number:</strong>
  <%= @asset.asset_number %>
</p>

<p>
  <strong>Asset type:</strong>
  <%= @asset.asset_type %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @asset.unit_price %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @asset.total_amount %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
