<%= form_with(model: land_name, local: true) do |form| %>
  <% if land_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(land_name.errors.count, "error") %> prohibited this land_name from being saved:</h2>

      <ul>
        <% land_name.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_name, class:"label" %>
    <div class="control">
      <%= form.select :company_name, [current_user.company_name], class:"my-3" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :date, class:"label" %>
    <div class="control">
      <%= form.date_select :date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.text_field :season, value: season_active, type: :hidden %>
    </div>
  </div>

  <div class="field">
    <%= form.label :farm_name, class:"label" %>
    <div class="control">
      <%= form.text_field :farm_name, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :section, class:"label" %>
    <div class="control">
      <%= form.text_field :section, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :hectrage, class:"label" %>
    <div class="control">
      <%= form.text_field :hectrage, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :crop, class:"label" %>
    <div class="control">
      <%= form.text_field :crop, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :pro_number, class:"label" %>
    <div class="control">
      <%= form.text_field :pro_number, class:"input" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-success" %>
  </div>
<% end %>
