<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @land_name.company_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @land_name.date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @land_name.season %>
</p>

<p>
  <strong>Farm namesection:</strong>
  <%= @land_name.farm_name %>
</p>

<p>
  <strong>Hectrage:</strong>
  <%= @land_name.hectrage %>
</p>

<p>
  <strong>Crop:</strong>
  <%= @land_name.crop %>
</p>

<p>
  <strong>Pro number:</strong>
  <%= @land_name.pro_number %>
</p>

<%= link_to 'Edit', edit_land_name_path(@land_name) %> |
<%= link_to 'Back', land_names_path %>
