<%= form_with(model: weather, local: true) do |form| %>
  <% if weather.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(weather.errors.count, "error") %> prohibited this weather from being saved:</h2>

      <ul>
        <% weather.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Date, class:"label" %>
    <div class="control">
      <%= form.date_select :Date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Area, class:"label" %>
    <div class="control">
      <%= form.text_field :Area, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Min, class:"label" %>
    <div class="control">
      <%= form.text_field :Min, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Max, class:"label" %>
    <div class="control">
      <%= form.text_field :Max, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-success" %>
  </div>
<% end %>
