<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @weather.date %>
</p>

<p>
  <strong>Area:</strong>
  <%= @weather.area %>
</p>

<p>
  <strong>Min:</strong>
  <%= @weather.min %>
</p>

<p>
  <strong>Max:</strong>
  <%= @weather.max %>
</p>

<p>
  <strong>User:</strong>
  <%= @weather.user_id %>
</p>

<%= link_to 'Edit', edit_weather_path(@weather) %> |
<%= link_to 'Back', weathers_path %>
