<p id="notice"><%= notice %></p>

<%= link_to 'New Activity', new_activity_path, class:"button is-success my-3" %>

<div class="box">
  <h1 class="has-text-centered">Activities</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Company name</th>
        <th>Date</th>
        <th>Season</th>
        <th>Farm name</th>
        <th>Section</th>
        <th>Activity</th>
        <th>Pro number</th>
        <th>User</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @activities.each do |activity| %>
        <tr>
          <td><%= activity.company_name %></td>
          <td><%= activity.date %></td>
          <td><%= activity.season %></td>
          <td><%= activity.farm_name %></td>
          <td><%= activity.section %></td>
          <td><%= activity.activity %></td>
          <td><%= activity.pro_number %></td>
          <td><%= activity.user_id %></td>
          <td><%= link_to 'Show', activity, class:"navbar-item" %></td>
          <td><%= link_to 'Edit', edit_activity_path(activity), class:"navbar-item" %></td>
          <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' }, class:"navbar-item" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


