<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @activity.company_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @activity.date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @activity.season %>
</p>

<p>
  <strong>Farm name:</strong>
  <%= @activity.farm_name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @activity.section %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @activity.activity %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
