<%= form_with(model: equipment_service, local: true) do |form| %>
  <% if equipment_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equipment_service.errors.count, "error") %> prohibited this equipment_service from being saved:</h2>

      <ul>
        <% equipment_service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Company_Name, class:"label" %>
    <div class="control">
      <%= form.select :Company_Name, [current_user.Company_Name], class:"my-3" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Date, class:"label" %>
    <div class="control">
      <%= form.date_select :Date, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Season, class:"label" %>
    <div class="control">
      <%= form.text_field :Season, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Type, class:"label" %>
    <div class="control">
      <%= form.text_field :Type, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Equipment_Number, class:"label" %>
    <div class="control">
      <%= form.text_field :Equipment_Number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Service_Type, class:"label" %>
    <div class="control">
      <%= form.text_field :Service_Type, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Done_By, class:"label" %>
    <div class="control">
      <%= form.text_field :Done_By, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Mileage, class:"label" %>
    <div class="control">
      <%= form.text_field :Mileage, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :next_service_milaege, class:"label" %>
    <div class="control">
      <%= form.text_field :next_service_milaege, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Job, class:"label" %>
    <div class="control">
      <%= form.text_field :Job, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Total_Amount, class:"label" %>
    <div class="control">
      <%= form.text_field :Total_Amount, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :Pro_Number, class:"label" %>
    <div class="control">
      <%= form.text_field :Pro_Number, class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"button is-success" %>
  </div>
<% end %>
