<p id="notice"><%= notice %></p>
<%= link_to 'New Equipment Service', new_equipment_service_path, class:"button is-success my-3" %>
<div class='box'>
<h1 class="has-background-white">Equipment Services</h1>

<table class="table">
  <thead>
    <tr>
      <th>Company name</th>
      <th>Date</th>
      <th>Season</th>
      <th>Type</th>
      <th>Equipment number</th>
      <th>Service type</th>
      <th>Done by</th>
      <th>Mileage</th>
      <th>Next service-milaege</th>
      <th>Job</th>
      <th>Total amount</th>
      <th>Pro number</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment_services.each do |equipment_service| %>
      <tr>
        <td><%= equipment_service.company_Name %></td>
        <td><%= equipment_service.date %></td>
        <td><%= equipment_service.season %></td>
        <td><%= equipment_service.type %></td>
        <td><%= equipment_service.equipment_number %></td>
        <td><%= equipment_service.service_type %></td>
        <td><%= equipment_service.done_by %></td>
        <td><%= equipment_service.mileage %></td>
        <td><%= equipment_service.next_service_milaege %></td>
        <td><%= equipment_service.job %></td>
        <td><%= equipment_service.total_amount %></td>
        <td><%= equipment_service.pro_number %></td>
        <td><%= equipment_service.user_id %></td>
        <td><%= link_to 'Show', equipment_service %></td>
        <td><%= link_to 'Edit', edit_equipment_service_path(equipment_service) %></td>
        <td><%= link_to 'Destroy', equipment_service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>

