<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @equipment_service.company_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @equipment_service.date %>
</p>

<p>
  <strong>Season:</strong>
  <%= @equipment_service.season %>
</p>

<p>
  <strong>Type:</strong>
  <%= @equipment_service.type %>
</p>

<p>
  <strong>Equipment number:</strong>
  <%= @equipment_service.equipment_number %>
</p>

<p>
  <strong>Service type:</strong>
  <%= @equipment_service.service_type %>
</p>

<p>
  <strong>Done by:</strong>
  <%= @equipment_service.done_by %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @equipment_service.mileage %>
</p>

<p>
  <strong>Next service-milaege:</strong>
  <%= @equipment_service.next_service_milaege %>
</p>

<p>
  <strong>Job:</strong>
  <%= @equipment_service.job %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @equipment_service.total_amount %>
</p>

<p>
  <strong>Pro number:</strong>
  <%= @equipment_service.pro_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @equipment_service.user_id %>
</p>

<%= link_to 'Edit', edit_equipment_service_path(@equipment_service) %> |
<%= link_to 'Back', equipment_services_path %>
