<section class="hero has-background-grey is-small has-text-white">
  <div class="hero-head">
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start has-text-white">
          <a class="navbar-item has-text-white text">
            MKT-FARM-SYSTEMS
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <% if admin_users %>
              <a class="navbar-link has-text-white text">
                Admin Activities
              </a>

              <div class="navbar-dropdown has-background-dark">
                <%= link_to "Client Payments", client_payments_path, class:"navbar-item text has-text-white" %>
                <%= link_to "Mkt Payments", mkt_payments_path, class:"navbar-item text has-text-white" %>
                <a class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            <% end %>
          </div>

          <p class="navbar-item has-text-white text">
            <%= current_date %>
          </p>

          <div class="navbar-item">
            <span class="has-text-white text animation" data-id="<%= pass_greeting_to_users %>">
            </span>
            <span class="text-animation blinks"></span>
          </div>
        </div>

        <% if user_signed_in? %>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
              <% if admin_users %>
                <%= link_to 'Users', users_path, class:"button is-light" %>
              <% end %>
                <%= link_to destroy_user_session_path, method: :delete, class:"has-text-dark button is-light" do %>
                  <span><i class="fas fa-sign-out-alt fa-2x"></i></span> 
                <%end%>
              </div>
            </div>
          </div>
        <% else %>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <%= link_to 'Sign Up', new_user_registration_path, class:"button is-light" %>
                <%= link_to 'Log In', new_user_session_path, class:"button is-light" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </nav>
  </div>
</section>