<div class="columns is-centered">
  <div class="column is-10">
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Activities', activities_path, class:"has-text-dark" %>

      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Adverts', advertisements_path, class:"has-text-dark" %>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Assets', assets_path, class:"has-text-dark" %>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Barn & Slate Records', barn_and_slate_records_path, class:"has-text-dark" %>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Calender', calenders_path, class:"has-text-dark" %>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Cash Requests', cash_requisitions_path, class:"has-text-dark" %>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Cashflows', cashflows_path, class:"has-text-dark" %>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Cereal Sales', cereal_sales_path, class:"has-text-dark" %>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Cereal Stores', cereal_stores_path, class:"has-text-dark" %>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Client Payments', client_payments_path, class:"has-text-dark" %>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Curings', curings_path, class:"has-text-dark" %>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Daily Requests', daily_requisitions_path, class:"has-text-dark" %>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Deduction Tables', deduction_tables_path, class:"has-text-dark" %>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Deliveries', deliveries_path, class:"has-text-dark" %>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Equipment Service', equipment_services_path, class:"has-text-dark" %>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Input Calibrations', input_calibrations_path, class:"has-text-dark" %>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Irrigation Schedules', irriagtion_schedules_path, class:"has-text-dark" %>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Land Names', land_names_path, class:"has-text-dark" %>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Mkt-payments', mkt_payments_path, class:"has-text-dark" %>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Rainfalls', rainfalls_path, class:"has-text-dark" %>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Seedbeds', seedbeds_path, class:"has-text-dark" %>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Set Seasons', set_seasons_path, class:"has-text-dark" %>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Stores', mkt_payments_path, class:"has-text-dark" %>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Wages', wages_path, class:"has-text-dark" %>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Weather Updates', weathers_path, class:"has-text-dark" %>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-11 my-2 py-1 has-background-grey-lighter">
        <%= link_to 'Workshops', workshops_path, class:"has-text-dark" %>
      </div>
    </div>
  </div>
</div>