<!DOCTYPE html>
<html>
  <head>
    <title>MKTFarmSystems</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="body">
  
    <%= render 'layouts/header' %>

      <%if user_signed_in? %>
        <% if admin_users %>
            <div class="columns is-centered has-background-grey-dark">
              <div class="column is-11 overflow-y">
                <%= yield %>
              </div>
            </div>
        <% else %>
          <% if authourize_user(current_user) %>
              <div class="columns is-centered has-background-grey-dark">
                <div class="column is-11 overflow-y">
                  <%= yield %>
                </div>
              </div>
          <%else%>
            <%= render 'layouts/verification' %>
          <% end %>
        <% end %>
      <% else %>
        <div class="container">
          <%= yield %>
        </div>
      <% end %>

  </body>
</html>
