<!DOCTYPE html>
<html>
  <head>
    <title>MKTFarmSystems</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/header' %>
    <div class="columns">
      <%if user_signed_in? %>
        <% unless current_user.Status == true  %>
          <%= render 'layouts/verification'%>
        <%else%>
          <div class="column is-3 has-background-primary" style="overflow-y: scroll;">
            <%= render 'layouts/sidebar'%>
          </div>
          <div class="column is-9 has-background-grey-lighter">
            <div class="columns is-centered">
              <div class="column is-11">
                <%= yield %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="container">
          <%= yield %>
        </div>
      <% end %>
    </div>
  </body>
</html>
