<!DOCTYPE html>
<html>
  <head>
    <title>MKTFarmSystems</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="columns">

      <%if user_signed_in? %>
        <% if current_user.email == 'tongoonamujera@gmail.com' %>
          <div class="column is-3 has-background-black">
            <%= render 'layouts/sidebar'%>
          </div>
          <div class="column is-9 has-background-grey-dark">
            <div class="columns is-centered">
              <div class="column is-12 overflow-y">
                <%= yield %>
              </div>
            </div>
          </div>
        <% else %>
        <% ClientPayment.valid.each do |client_payment|%>
          <% unless client_payment.Company_Name == current_user.Company_Name %>
            <%= render 'layouts/verification' %>
          <%else%>
            <div class="column is-3 has-background-black">
              <%= render 'layouts/sidebar'%>
            </div>
            <div class="column is-9 has-background-grey-dark">
              <div class="columns is-centered">
                <div class="column is-12 overflow-y">
                  <%= yield %>
                </div>
              </div>
            </div>
          <% end %>
        <%end%>
        <% end %>
      <% else %>
        <div class="container">
          <%= yield %>
        </div>
      <% end %>
    </div>

  </body>
</html>
